{% extends 'Base/base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
{% endblock title %}
<!-- Title block > End -->

<!-- Extra CSS Block > Start -->
{% block extra_css %}
{% endblock extra_css %}
<!-- Extra CSS Block > End -->

<!-- Custom CSS Block > Start -->
{% block custom_css %}
{% endblock custom_css %}
<!-- Custom CSS Block > End -->

<!-- Modals Block > Start -->
{% block modals %}
{% endblock modals %}
<!-- Modals Block > End -->

<!-- Logo Block > Start -->
{% block logo %}
{% endblock logo %}
<!-- Logo Block > End -->

<!-- Navbar Right menus block > Start -->
{# everything inside <ul class="nav-right"> #}
{% block nav_right %}
{% endblock nav_right %}
<!-- Navbar Right menus block > End -->

<!-- Side Navigation bar Block > Start -->
{% block side_bar %}
{% endblock side_bar %}
<!-- Side Navigation bar Block > End -->


<!-- Main body block > Start -->
{# for dashboard, everything in this tag - <div class="pcoded-content"> #}
{# for others everything in this tag - <div class="pcoded-inner-content"> #}
{% block main_body %}
{% endblock main_body %}
<!-- Main body block > End -->

<!-- Extra JS Block > Start -->
{% block extra_js %}
{% endblock extra_js %}
<!-- Extra JS Block > End -->

<!-- Custom JS Block > Start -->
{% block custom_js %}
{% endblock custom_js %}
<!-- Custom JS Block > End -->