Django==2.2.13
django-extensions==2.2.9
django-filter==2.2.0
djangorestframework==3.11.0
mysqlclient==1.4.6
Pillow==9.0.1
pydot==1.4.1
pydotplus==2.0.2
pyparsing==2.4.7
pytz==2019.3
reportlab==3.5.42
six==1.14.0
sqlparse==0.3.0
