{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Student Profile</title>
    <!-- Meta -->
    <meta name="author" content="Jasmin Makwana(160210107030), Kinjal Doshi(160210107011), Jinesh Kamdar(160210107024), Vishwa Rajput(160210107047)">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/css/bootstrap.min.css' %}">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/feather/css/feather.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
    <!-- Material Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/material-design/css/material-design-iconic-font.min.css' %}">
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Personal Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email Id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <button class="btn btn-large btn-primary f-right">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade" id="large-Modal1" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Academic Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Enrollment Number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Department</label>
                            <div class="col-sm-10">
                                   <select name="select" class="form-control">
                                       <option value="opt1">Select Department</option>
                                       <option value="opt2">Computer Engineering</option>
                                       <option value="opt3">Information & Technology</option>
                                       <option value="opt4">Civil Engineering</option>
                                       <option value="opt5">Electronics & Communications</option>
                                       <option value="opt6">Production Engineering</option>
                                       <option value="opt7">Mechanical Engineering</option>
                                   </select>
                               </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Semester</label>
                            <div class="col-sm-10">
                                   <select name="select" class="form-control">
                                       <option value="opt1">Select Semester</option>
                                       <option value="opt2">1</option>
                                       <option value="opt3">2</option>
                                       <option value="opt4">3</option>
                                       <option value="opt5">4</option>
                                       <option value="opt6">5</option>
                                       <option value="opt7">6</option>
                                       <option value="opt7">7</option>
                                       <option value="opt7">8</option>
                                   </select>
                               </div>
                        </div>
                        <button class="btn btn-large btn-primary f-right">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
       <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a href="index-1.htm">
                            <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Theme-Logo">
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">

                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{% static 'assets/images/avatar-4.jpg' %}" class="img-radius" alt="User-Profile-Image">
                                        <span>Jasmin Makwana</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="#!">
                                                <i class="feather icon-settings"></i> My Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="auth-normal-sign-in.htm">
                                                <i class="feather icon-log-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigatio-lavel">Quick Links</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="#">
                                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                        <span class="pcoded-mtext">My Profile</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <span class="pcoded-micon"><i class="feather icon-server"></i></span>
                                        <span class="pcoded-mtext">View Complaints</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>
                                        <span class="pcoded-mtext">View Feedback</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <span class="pcoded-micon"><i class="feather icon-log-out"></i></span>
                                        <span class="pcoded-mtext">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                        <div class="col-sm-12">
                                                <div class="page-header">
                                            <div class="row align-items-end">
                                                <div class="col-lg-8">
                                                    <div class="page-header-title">
                                                        <div class="d-inline">
                                                            <h4>Profile</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                        <div class="col-lg-4">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <a href="{% url 'student_dashbaord' %}"> <i class="zmdi zmdi-arrow-left"></i> </a>
                                                    <a href="{% url 'student_dashbaord' %}">Back To Dashboard</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                            <!-- List view card start -->
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-lg-12 col-xl-12">
                                                    <div class="sub-title">Jasmin Makwana</div>
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs md-tabs tabs-left b-none" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#personaldetail" role="tab" style="font-size: 12pt; width: 180px;">Personal Details</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#academicdetail" role="tab" style="font-size: 12pt; width: 180px;">Academic Details</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#changepassword" role="tab" style="font-size: 12pt; width: 180px;">Change Password</a>
                                                            <div class="slide"></div>
                                                        </li>
                                                    </ul>
                                                    <!-- Tab panes -->
                                                    <div class="col-sm-4 tab-content tabs-left-content card-block" style="border: 1px solid #353c4e; padding: 20px 20px;">
                                                        <div class="tab-pane active" id="personaldetail" role="tabpanel">
                                                            <form action="#" method="post">
                                                            {% csrf_token %}
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label" style="padding: 6px 15px; font-weight:900;">First Name :</label>
                                                                    <label class="col-sm-6 col-form-label">Jasmin</label>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label" style="padding: 6px 15px; font-weight:900;">Last Name :</label>
                                                                    <label class="col-sm-6 col-form-label">Makwana</label>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label" style="padding: 6px 15px; font-weight:900;">Email ID :</label>
                                                                    <label class="col-sm-6 col-form-label">Jasmin123@gmail.com</label>
                                                                </div>
                                                           </form>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label" style="padding: 6px 15px; font-weight:900;"></label>
                                                                <button class="btn btn-primary pcoded-mtext" data-toggle="modal" data-target="#large-Modal">Edit Profile</button>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="academicdetail" role="tabpanel">
                                                            <form action="#" method="post">
                                                            {% csrf_token %}
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label" style="padding: 6px 15px; font-weight:900;">Enrollment Number :</label>
                                                                    <label class="col-sm-6 col-form-label">160210107033</label>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label" style="padding: 6px 15px; font-weight:900;">Department :</label>
                                                                    <label class="col-sm-6 col-form-label">Computer Engineering</label>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label" style="padding: 6px 15px; font-weight:900;">Semester :</label>
                                                                    <label class="col-sm-6 col-form-label">8th</label>
                                                                </div>
                                                           </form>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label" style="padding: 6px 15px; font-weight:900;"></label>
                                                                <button class="btn btn-primary pcoded-mtext" data-toggle="modal" data-target="#large-Modal1">Edit Academic</button>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane" id="changepassword" role="tabpanel">
                                                            <form action="#" method="post">
                                                                {% csrf_token %}
                                                                <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label" style="padding: 6px 20px; font-weight:900;" for="oldpwd">Old Password :</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="password" class="form-control" id="oldpwd" name="oldpwd" required/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label" style="padding: 6px 20px; font-weight:900;" for="newpwd">New Password :</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="password" class="form-control" id="newpwd" name="newpwd" required/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label" style="padding: 6px 20px; font-weight:900;" for="cnfrmpwd">Confirm Password :</label>
                                                                    <div class="col-sm-6">
                                                                        <input type="password" class="form-control" id="cnfrmpwd" name="cnfrmpwd" onchange="verify_pwd()" onkeyup="verify_pwd()" onclick="verify_pwd()" required/>
                                                                        <span id="errormsg" style="color: red"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label" style="padding: 6px 20px;"></label>
                                                                    <div class="col-sm-6">
                                                                        <button type="submit" class="btn btn-primary m-b-0">Update</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>

                                    </div>
                                            <!-- List view card end -->
                                            </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{%static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="{% static 'bower_components/chart.js/js/Chart.js' %}"></script>
    <!-- amchart js -->
    <script src="{% static 'assets/pages/widget/amchart/amcharts.js' %}"></script>
    <script src="{% static 'assets/pages/widget/amchart/serial.js' %}"></script>
    <script src="{% static 'assets/pages/widget/amchart/light.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/SmoothScroll.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'assets/js/vartical-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/pages/dashboard/custom-dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.min.js' %}"></script>
</body>

</html>
