<script>
    // TODO : make validation supported in chrome as well.
    // TODO : Add removed faculties by hod in manage departments.
    // TODO : Add removed subjects by hod in manage departments.

    // TODO : Django Admin Customization.



    // TODO : Build Logging system for every action and also for error recovery.
    // TODO : Make tour for every dashboard and every page.
    // TODO : make seperate pages for feedback for general department, mechanical department as well as applied mechanics department.
    // TODO : Internal Documentation like comments in all pages and every where.
    // TODO : necessary mails should be sent to recepeitns

</script>
<script>
    //Remaining Stuffs
    //TODO : Give principal right to delete and change news floating around.
    //TODO : change email templates.
    //TODO : Contact us page and issue page. (Kinjal And jasmin)
    //TODO : Courtesy page. (Kinjal)
    //TODO : Change button and make consistent in every dashboard and in every page.
    //TODO : Internal Documentation in each page.
    //TODO : Removed faculty in removed subjects
    //TODO :
</script>

print(request.META['HTTP_REFERER'])