{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Committee Dashboard</title>
    <!-- Meta -->
    <meta name="author" content="Jasmin Makwana(160210107030), Kinjal Doshi(160210107011), Jinesh Kamdar(160210107024), Vishwa Rajput(160210107047)">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/css/bootstrap.min.css' %}">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/feather/css/feather.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- list css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/pages/list-scroll/list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/stroll/css/stroll.css' %}">
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="feather icon-menu"></i>
                    </a>
                    <a href="index-1.htm">
                        <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Theme-Logo">
                    </a>
                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>
                    <div class="navbar-container container-fluid">
                    <ul class="nav-right">

                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{% static 'assets/images/avatar-4.jpg' %}" class="img-radius" alt="User-Profile-Image">
                                    <span>Jasmin Makwana</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="user-profile.htm">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../home_auth/change_password.html">
                                            <i class="feather icon-log-out"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                     <nav class="pcoded-navbar">
                         <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigatio-lavel">Quick Links</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="#">
                                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                        <span class="pcoded-mtext">My Profile</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                                        <span class="pcoded-mtext">View All Members</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        <span class="pcoded-micon"><i class="feather icon-log-out"></i></span>
                                        <span class="pcoded-mtext">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                     <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Anti Ragging Committee</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- List type card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4>Pending Complaints</h4>
                                                    </div>
                                                    <div class="row card-block">
                                                        <div class="col-md-12 col-lg-12">
                                                            <ul class="basic-list list-icons">
                                                                <li>
                                                                    <i class="icofont icofont-warning  text-primary p-absolute text-center d-block f-30"></i>
                                                                    <h6>Heading</h6>
                                                                    <p>Laborum nihil aliquam nulla praesentium illo libero
                                                                        nihil at odio maxime.</p>
                                                                </li>
                                                                <li>
                                                                    <h6>Heading</h6>
                                                                    <i class="icofont icofont-warning  text-primary p-absolute text-center d-block f-30"></i>
                                                                    <p>Laborum nihil aliquam nulla praesentium illo libero
                                                                        nihil at odio maxime.</p>
                                                                </li>
                                                                <li>
                                                                    <h6>Heading</h6>
                                                                    <i class="icofont icofont-warning  text-primary p-absolute text-center d-block f-30"></i>
                                                                    <p>Laborum nihil aliquam nulla praesentium illo libero
                                                                        nihil at odio maxime.</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- List type card end -->
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- List type card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4>Closed Complaints</h4>
                                                    </div>
                                                    <div class="row card-block">
                                                        <div class="col-md-12 col-lg-12">
                                                            <ul class="basic-list list-icons">
                                                                <li>
                                                                    <i class="icofont icofont-bell-alt text-primary p-absolute text-center d-block f-30"></i>
                                                                    <h6>Heading</h6>
                                                                    <p>Laborum nihil aliquam nulla praesentium illo libero
                                                                        nihil at odio maxime.</p>
                                                                </li>
                                                                <li>
                                                                    <h6>Heading</h6>
                                                                    <i class="icofont icofont-bell-alt text-primary p-absolute text-center d-block f-30"></i>
                                                                    <p>Laborum nihil aliquam nulla praesentium illo libero
                                                                        nihil at odio maxime.</p>
                                                                </li>
                                                                <li>
                                                                    <h6>Heading</h6>
                                                                    <i class="icofont icofont-bell-alt text-primary p-absolute text-center d-block f-30"></i>
                                                                    <p>Laborum nihil aliquam nulla praesentium illo libero
                                                                        nihil at odio maxime.</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- List type card end -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{%static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="{% static 'bower_components/chart.js/js/Chart.js' %}"></script>
    <!-- amchart js -->
    <script src="{% static 'assets/pages/widget/amchart/amcharts.js' %}"></script>
    <script src="{% static 'assets/pages/widget/amchart/serial.js' %}"></script>
    <script src="{% static 'assets/pages/widget/amchart/light.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/SmoothScroll.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'assets/js/vartical-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/pages/dashboard/custom-dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.min.js' %}"></script>

</body>

</html>
