{% extends 'Base/base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
    View Committee Members
{% endblock title %}
<!-- Title block > End -->

<!-- Extra CSS Block > Start -->
{% block extra_css %}
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert/css/sweetalert.css' %}">
{% endblock extra_css %}
<!-- Extra CSS Block > End -->

<!-- Logo Block > Start -->
{% block logo %}
    {% ifequal User_Role "Faculty" %}
        <a href="{% url 'faculty_dashboard' %}">
            <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
        </a>
    {% endifequal %}

    {% ifequal User_Role "HOD" %}
        <a href="{% url 'hod_dashboard' %}">
            <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
        </a>
    {% endifequal %}

    {% ifequal User_Role "Principal" %}
        <a href="{% url 'principal_dashboard' %}">
            <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
        </a>
    {% endifequal %}
{% endblock logo %}
<!-- Logo Block > End -->

<!-- Navbar Right menus block > Start -->
{# everything inside <ul class="nav-right"> #}
{% block nav_right %}
    <ul class="nav-right">
        <li class="user-profile header-notification">
            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span>{{ name }}</span>
                    <i class="feather icon-chevron-down"></i>
                </div>
                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        {% ifequal User_Role "Faculty" %}
                            <a href="{% url 'faculty_dashboard' %}">
                                <i class="feather icon-home"></i> Dashboard
                            </a>
                        {% endifequal %}

                        {% ifequal User_Role "HOD" %}
                            <a href="{% url 'hod_dashboard' %}">
                                <i class="feather icon-home"></i> Dashboard
                            </a>
                        {% endifequal %}

                        {% ifequal User_Role "Principal" %}
                            <a href="{% url 'principal_dashboard' %}">
                                <i class="feather icon-home"></i> Dashboard
                            </a>
                        {% endifequal %}
                    </li>
                    <li>
                        {% ifequal User_Role "Faculty" %}
                            <a href="{% url 'faculty_profile' %}">
                                <i class="feather icon-user"></i> Profile
                            </a>
                        {% endifequal %}

                        {% ifequal User_Role "HOD" %}
                            <a href="{% url 'hod_profile' %}">
                                <i class="feather icon-user"></i> Profile
                            </a>
                        {% endifequal %}

                        {% ifequal User_Role "Principal" %}
                            <a href="{% url 'principal_profile' %}">
                                <i class="feather icon-user"></i> Profile
                            </a>
                        {% endifequal %}
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="feather icon-log-out"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock nav_right %}
<!-- Navbar Right menus block > End -->

<!-- Modals Block > Start -->
{% block modals %}
{% endblock modals %}
<!-- Modals Block > End -->

<!-- Side Navigation bar Block > Start -->
{% block side_bar %}
{% endblock side_bar %}
<!-- Side Navigation bar Block > End -->


<!-- Main body block > Start -->
{# for dashboard, everything in this tag - <div class="pcoded-content"> #}
{# for others everything in this tag - <div class="pcoded-inner-content"> #}
{% block main_body %}
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                 <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h3>{{ committee_name }} Committee Members</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <span class="f-right">
                                <a class="btn btn-round btn-outline-primary" href="{% url 'member_dashboard' com_id=committee_id %}">
                                    <i class="feather icon-arrow-left"></i>
                                    Back to Committee Dashboard
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Committee Members</h5>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" scope="col">Role</th>
                                                    <th class="text-center" scope="col">Name</th>
                                                    <th class="text-center" scope="col">Department</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center">
                                                    <td>
                                                        <div style="font-size: 14pt; color: yellow; text-shadow: 0 0 20px #952;">
                                                            <i class="icofont icofont-king-crown" data-toggle="tooltip" title="Chairperson"></i>
                                                        </div>
                                                    </td>
                                                    <td>{{ chairperson_name }}</td>
                                                    <td>{{ chairperson_dept }}</td>
                                                </tr>
                                            {% for m in members %}
                                                <tr class="text-center">
                                                    <td>
                                                        <div style="font-size: 14pt; color: orange;">
                                                            <i class="icofont icofont-users" data-toggle="tooltip" title="Committee Member"></i>
                                                        </div>
                                                    </td>
                                                    <td>{{ m.faculty_id.name }}</td>
                                                    <td>{{ m.faculty_id.dept_id.dept_name }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_body %}
<!-- Main body block > End -->

<!-- Extra JS Block > Start -->
{% block extra_js %}
    <!-- sweet alert js -->
    <script type="text/javascript" src="{% static 'bower_components/sweetalert/js/sweetalert.min.js' %}"></script>
{% endblock extra_js %}
<!-- Extra JS Block > End -->

<!-- Custom JS Block > Start -->
{% block custom_js %}
{% endblock custom_js %}
<!-- Custom JS Block > End -->