{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Change Password</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font--><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/css/bootstrap.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <style type="text/css">
        .logo-text {
            color: #FFFFFF;
            font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif;
            font-weight: 400;
            font-size: 24pt;
            text-transform: uppercase;
            line-height: 1;
            margin: 0 0 1.5rem 0;
            text-align: center;
        }
         #bg-img {
             background-position-x: center;
            background-position-y: center;
            background-size: cover;
            {#background-repeat-x: initial;#}
            {#background-repeat-y: initial;#}
            background-attachment: initial;
            background-origin: initial;
            background-clip: initial;
            background-color: initial;
         }
    </style>
</head>

<body class="fix-menu">
{#    <!-- Pre-loader start -->#}
{#    <div class="theme-loader">#}
{#        <div class="ball-scale">#}
{#            <div class='contain'>#}
{#                <div class="ring"><div class="frame"></div></div>#}
{#                <div class="ring"><div class="frame"></div></div>#}
{#                <div class="ring"><div class="frame"></div></div>#}
{#                <div class="ring"><div class="frame"></div></div>#}
{#                <div class="ring"><div class="frame"></div></div>#}
{#                <div class="ring"><div class="frame"></div></div>#}
{#                <div class="ring"><div class="frame"></div></div>#}
{#                <div class="ring"><div class="frame"></div></div>#}
{#                <div class="ring"><div class="frame"></div></div>#}
{#                <div class="ring"><div class="frame"></div></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Pre-loader end -->#}

    <section class="login-block" style="background: url('{% static "assets/images/image.jpg" %}') center; width: 100%; height: 100%">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    
                        <form class="md-float-material form-material" action="{% url 'change_password' %}" method="post">
                            {% csrf_token %}
                            <div class="text-center">
                                <span class="logo-text">Student Support System</span>
{#                                <img src="{% static 'assets/images/logo_sss.png' %}" alt="logo.png" width="30%">#}
                            </div>
                            <div class="auth-box card">
                                <div class="card-block">
                                    <div class="row m-b-20">
                                        <div class="col-md-12">
                                            <h3 class="text-center">Change Password</h3>
                                        </div>
                                    </div>
                                    <div class="form-group form-primary" id="password-div">
                                        <input type="password" name="password" id="password" class="form-control" placeholder="New Password" onblur="validate_pwd()" required>
                                        <div id="Error_pwd" style="color: red; display: none"></div>
{#                                        <span class="form-bar"></span>#}
                                    </div>
                                    <div class="form-group form-primary" id="cnfrmpassword-div">
                                        <input type="password" name="cnfrmpassword" id="cnfrmpassword" class="form-control" placeholder="Confirm New Password" onclick="match_password()" onkeydown="match_password()" onkeypress="match_password()" onkeyup="match_password()" onfocus="match_password()" onblur="match_password()" required>
                                        <div id="Error_cnfrmpwd" style="color: red; display: none"></div>
{#                                        <span class="form-bar"></span>#}
                                    </div>
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <button type="submit" id="button-submit" class="btn btn-disabled btn-md btn-block text-center m-b-20" disabled>Sign in</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p class="text-inverse text-left m-b-0">Thank you.</p>
                                            <p class="text-inverse text-left">
                                                <a href="{% url 'home' %}">
                                                    <b class="f-w-600">
                                                        Back to website
                                                    </b>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end of form -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>

    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/css-scrollbars.js' %}"></script>
    <script type="text/javascript">
        function validate_pwd() {
            var pwd = document.getElementById('password').value;
            var tag = document.getElementById('Error_pwd');
            var regularExpression = /^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[a-zA-Z!@#$%&? "])[a-zA-Z0-9!@#$%&?]{6,16}$/;
            if(regularExpression.test(pwd)){
                tag.style.display = 'none';
                document.getElementById("password").classList.remove("form-control-danger");
                document.getElementById("password-div").classList.remove("has-danger");
                document.getElementById("password").classList.add("form-control-success");
                return true;
            }
            else {
                tag.innerHTML = "Password must have at least one uppercase, one lowercase, one digit and one special character. Length of password is 6 to 16.";
                tag.style.display = 'block';
                document.getElementById("password").classList.add("form-control-danger");
                document.getElementById("password-div").classList.add("has-danger");
                return false;
            }
        }

        function match_password() {
            var pwd = document.getElementById('password').value;
            var cnfrmpwd = document.getElementById('cnfrmpassword').value;
            var tag = document.getElementById('Error_cnfrmpwd');
            var btn = document.getElementById('button-submit');
            if(pwd === cnfrmpwd){
                tag.style.display = 'none';
                document.getElementById('cnfrmpassword').classList.remove('form-control-danger');
                document.getElementById('cnfrmpassword-div').classList.remove('has-danger');
                if(validate_pwd()){
                    btn.classList.remove('btn-disabled');
                    btn.classList.add('btn-primary');
                    btn.disabled = false;
                }
                else {
                    btn.classList.remove('btn-primary');
                    btn.classList.add('btn-disabled');
                    btn.disabled = true;
                }
            }
            else {
                btn.classList.remove('btn-primary');
                btn.classList.add('btn-disabled');
                btn.disabled = true;
                tag.innerHTML = "Password does not match. Please Enter same password.";
                tag.style.display = 'block';
                document.getElementById("cnfrmpassword").classList.add("form-control-danger");
                document.getElementById("cnfrmpassword-div").classList.add("has-danger");
                return false;
            }
        }
    </script>

</body>

</html>
