{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Support System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material io cdn -->
    <link href="{% static 'assets/css/material-components-web.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/material-components-web.min.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
      <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/landing/css/custom_css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/landing/css/custom_css/bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/landing/css/custom_css/bootstrap/bootstrap-reboot.css' %}">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/feather/css/feather.css' %}">

    <link rel="stylesheet" href="{% static 'assets/landing/css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/animate.css' %}">

    <link rel="stylesheet" href="{% static 'assets/landing/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'assets/landing/css/aos.css' %}">
      <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert/css/sweetalert.css' %}">

    <link rel="stylesheet" href="{% static 'assets/landing/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/custom_css/style.css' %}">
    <style>
        .text-muted{
            color:#FE8A7D !important;
        }
        body{
            font-size: .875em;
        }
    </style>
</head>
<body>
    <!-- Forgot Password Modal -->
    <div class="modal fade" id="forgot-password" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Recover Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group input-focus">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white">
                                <i class="feather icon-envelope"></i>
                            </span>
                          </div>
                          <input type="email" name="email_forgot" id="email_forgot" placeholder="Email Address" class="form-control form-control-lg border-left-0">
                        </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="btn btn-outline-primary btn-block">
                                    <i class="feather icon-send"></i> Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="-webkit-align-content: flex-start; display: block">
                    <div class="row">
                        <div class="col-md-6">
                            <span style="color: black">
                                Thank You,
                            <br />
                            Student Support System
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot Password Modal end -->

    <!-- Sign in Modal -->
    <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="email">Email ID : </label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="pwd">Password : </label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="pwd" id="pwd" required>
                            </div>
                        </div>
                        <div class="form-group row" id="role-div">
                            <label class="col-sm-4 col-form-label" for="role">Role : </label>
                            <div class="col-sm-8">
                                <select onblur="validate_role()" name="role" id="role" class="form-control" required>
                                    <option value="-1" selected disabled>Select Role</option>
                                    <option value="Student">Student</option>
                                    <option value="Faculty">Faculty</option>
                                    <option value="Principal">Principal</option>
                                </select>
                                <div id="Error_role" style="display: none; color: red;"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <a href="#" data-toggle="modal" data-target="#sign-up-modal" data-dismiss="modal">Not Registered? Click here to register</a>
                            </div>
                            <div class="col-sm-4">
                                <a href="#" data-toggle="modal" data-target="#forgot-password" data-dismiss="modal">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="form-group row" style="padding-right: 15px; float:right;">
                            <button class="btn btn-outline-disabled"id="button-sign-in" name="button-sign-in" onfocus="validate_signin()" onclick="validate_signin()" onmouseover="validate_signin()" onmouseenter="validate_signin()" disabled>
                                <i class="feather icon-check"></i> Sign in
                            </button>
{#                            <input type="submit" value="Sign In" class="form-control submit btn btn-disabled" id="button-sign-in" name="button-sign-in" onfocus="validate_signin()" onclick="validate_signin()" onmouseover="validate_signin()" onmouseenter="validate_signin()">#}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in Modal End -->

    <!-- Tabs modal > Start-->
    <div class="modal fade modal-flex" id="sign-up-modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-student" role="tab" aria-expanded="true">
                                <h6>
                                    Student Registration
                                </h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-faculty" role="tab" aria-expanded="false">
                                <h6>
                                    Faculty Registration
                                </h6>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content modal-body">
                        <div class="tab-pane active" id="tab-student" role="tabpanel" aria-expanded="true">
                            <h5 class="m-b-20">Student Registration</h5>
                            <form method="post" action="{% url 'register' %}">
                                {% csrf_token %}
                                <div class="form-group row" id="fname-div">
                                    <label class="col-sm-4 col-form-label" for="fname">First Name : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" onblur="validate_fname()" name="fname" id="fname" required>
                                        <div id="Error_fname" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row" id="lname-div">
                                    <label class="col-sm-4 col-form-label" for="lname">Last Name : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" onblur="validate_lname()" name="lname" id="lname" required>
                                        <div id="Error_lname" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row" id="emailid-div">
                                    <label class="col-sm-4 col-form-label" for="emailid">Email ID : </label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" onblur="validate_email()" name="emailid" id="emailid" required>
                                        <div id="Error_emailid" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row" id="password-div">
                                    <label class="col-sm-4 col-form-label" for="password">Password : </label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" onblur="validate_password()" name="password" id="password" required>
                                        <div id="Error_Pwd" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row" id="enrollment-div">
                                    <label class="col-sm-4 col-form-label" for="enrollment">Enrollment No : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" onblur="validate_enrollment()" name="enrollment" id="enrollment" maxlength="12" required>
                                        <div id="Error_enrl" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row" id="dept-div">
                                    <label class="col-sm-4 col-form-label" for="dept">Department : </label>
                                    <div class="col-sm-8">
                                        <select onblur="validate_dept()" name="dept" id="dept" class="form-control" required>
                                            <option value="-1" disabled selected>Select Department</option>
                                            {% for i in dept %}
                                                {% if i.accronym == "AM" or i.accronym == "GNRL" or i.accronym == "MECH1" or i.accronym == "MECH2" %}
                                                {% else %}
                                                    <option value="{{ i.id }}">{{ i.dept_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <div id="Error_dept" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row" id="sem-div">
                                    <label class="col-sm-4 col-form-label" for="sem">Semester : </label>
                                    <div class="col-sm-8">
                                        <select onblur="validate_sem()" name="sem" id="sem" class="form-control" required>
                                            <option value="-1" disabled selected>Select Semester</option>
                                            <option value="1">Sem 1</option>
                                            <option value="2">Sem 2</option>
                                            <option value="3">Sem 3</option>
                                            <option value="4">Sem 4</option>
                                            <option value="5">Sem 5</option>
                                            <option value="6">Sem 6</option>
                                            <option value="7">Sem 7</option>
                                            <option value="8">Sem 8</option>
                                        </select>
                                        <div id="Error_sem" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <a href="#" data-toggle="modal" data-target="#sign-in-modal" data-dismiss="modal">
                                            <i class="feather icon-arrow-left"></i>
                                            Already Registered? Login
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row f-right" style="padding-right: 15px;">
                                    <button type="submit" id="button-register" class="btn btn-block btn-outline-disabled" onfocus="validate_form()" onclick="validate_form()" onmouseover="validate_form()" onmouseenter="validate_form()" disabled>
                                        <i class="feather icon-check"></i>
                                        Register
                                    </button>
{#                                    <input type="submit" value="Register" id="button-register" class="form-control submit btn-disabled" onfocus="validate_form()" onclick="validate_form()" onmouseover="validate_form()" onmouseenter="validate_form()">#}
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab-faculty" role="tabpanel" aria-expanded="false">
                            <h5 class="m-b-20">Faculty Registration</h5>
                            <form action="{% url 'register' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group row" id="faculty-name-div">
                                    <label class="col-sm-4 col-form-label" for="faculty-name"> Name : </label>
                                    <div class="col-sm-8">
                                        <input type="text" data-toggle="tooltip" title="It should contain First name, Initial of middle name and lastname such as 'Barry H. Allen'." onblur="validate_faculty_name()" class="form-control" name="faculty-name" id="faculty-name" required>
                                        <div id="Error_faculty-name" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row" id="faculty-emailid-div">
                                    <label class="col-sm-4 col-form-label" for="faculty-emailid">Email ID : </label>
                                    <div class="col-sm-8">
                                        <input type="email" onblur="validate_faculty_email()" class="form-control" name="faculty-emailid" id="faculty-emailid" required>
                                        <div id="Error_faculty-emailid" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row" id="faculty-password-div">
                                    <label class="col-sm-4 col-form-label" for="faculty-password">Password : </label>
                                    <div class="col-sm-8">
                                        <input type="password" onblur="validate_faculty_password()" class="form-control" name="faculty-password" id="faculty-password" required>
                                        <div id="Error_faculty-password" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row" id="faculty-dept-div">
                                    <label class="col-sm-4 col-form-label" for="faculty-dept">Department : </label>
                                    <div class="col-sm-8">
                                        <select onblur="validate_faculty_dept()" name="faculty-dept" id="faculty-dept" class="form-control" required>
                                            <option value="-1" disabled selected>Select Department</option>
                                            {% for i in dept %}
                                                {% if i.accronym == "AM" or i.accronym == "GNRL" or i.accronym == "MECH1" or i.accronym == "MECH2" %}
                                                {% else %}
                                                    <option value="{{ i.id }}">{{ i.dept_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <div id="Error_faculty-dept" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <a href="#" data-toggle="modal" data-target="#sign-in-modal" data-dismiss="modal">
                                            <i class="feather icon-arrow-left"></i>
                                            Already Registered? Login
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row f-right" style="padding-right: 15px;">
{#                                    <input type="submit" value="Register" id="button-faculty-register" class="form-control submit btn-disabled" onfocus="validate_faculty_form()" onclick="validate_faculty_form()" onmouseover="validate_faculty_form()" onmouseenter="validate_faculty_form()">#}
                                    <button type="submit" id="button-faculty-register" class="btn btn-block btn-outline-disabled" onfocus="validate_faculty_form()" onclick="validate_faculty_form()" onmouseover="validate_faculty_form()" onmouseenter="validate_faculty_form()" disabled>
                                        <i class="feather icon-check"></i>
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabs modal > End-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
            <a class="navbar-brand" href="index.html">Student Support System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="#" class="nav-link pl-0">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="modal" data-target="#sign-up-modal">
                            Sign up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="modal" data-target="#sign-in-modal">
                            Sign in
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Contact
                        </a>
                    </li>
                </ul>
	      </div>
        </div>
    </nav>

    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url({% static 'assets/landing/images/gec1.png' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 text-center ftco-animate">
                        <h1 class="mb-4">
                            Government Engineering College <span>Bhavnagar</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url({% static 'assets/landing/images/gec3.png' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 text-center ftco-animate">
                        <h1 class="mb-4">
                            Government Engineering College <span>Bhavnagar</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-services ftco-no-pb">
        <div class="container-wrap">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-teacher"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Certified Teachers</h3>
                            <blockquote class="blockquote text-right">
                                <p class="mb-0"><q>The mediocre teacher tells. The good teacher explains. The superior teacher demonstrates. The great teacher inspires.</q></p>
                                <footer class="blockquote-footer">William A. Ward</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-reading"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Special Education</h3>
                            <blockquote class="blockquote text-right">
                                <p class="mb-0"><q>It is a thousand times better to have common sense without education than to have education without common sense.</q></p>
                                <footer class="blockquote-footer">Robert G. Ingersoll</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-books"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Book &amp; Library</h3>
                            <blockquote class="blockquote text-right">
                                <p class="mb-0"><q>Reading gives us someplace to go when we have to stay where we are. </q></p>
                                <footer class="blockquote-footer">Mason Cooley</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
                    <h2 class="mb-4">What We Offer</h2>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
                                <div class="text">
                                    <br/>
                                    <h3>Digital Platform For Feedback</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
                                <div class="text">
                                    <br />
                                    <h3>A Complaint Section</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
                                <div class="text">
                                    <br />
                                    <h3>A Committee Section</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
                                <div class="text">
                                    <br />
                                    <h3>Interactive Environment</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-intro" style="background-image: url({% static 'assets/landing/images/gec3.png' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-9" style="color:#fff;">
                    <h2>Student Support System</h2>
                    <p class="mb-0" style="color: #fff;">A portal help students to handle issues online and contact faculties whenever any help needed to them.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4"><span>GEC Bhavnagar</span> Departments</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/ce1.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Computer Engineering</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/it1.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Information & Technology</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/civil.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Civil Engineering</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/ec.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Electronics And Communication</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/prod.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Production Engineering</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/mech.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Mechanical Engineering</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/generaldept.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>General Department</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/appliedmechanic.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Applied Mechanics</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4"><span>Our</span> Committees</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 course d-lg-flex ftco-animate">
                    <div class="img" style="background-image: url({% static 'assets/landing/images/antiragging.png' %});"></div>
                    <div class="text bg-light p-4">
                        <h3>Anti Ragging Committee</h3>
                    </div>
                </div>
                <div class="col-md-6 course d-lg-flex ftco-animate">
                    <div class="img" style="background-image: url({% static 'assets/landing/images/womencell.png' %});"></div>
                    <div class="text bg-light p-4">
                        <h3>Women Cell</h3>
                    </div>
                </div>
                <div class="col-md-6 course d-lg-flex ftco-animate">
                    <div class="img" style="background-image: url({% static 'assets/landing/images/grievance.png' %});"></div>
                    <div class="text bg-light p-4">
                        <h3>Grievance Re-Addressal Committee</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
				<div class="col-md-3 ftco-animate">
					<div class="gallery img d-flex align-items-center" style="background-image: url({% static 'assets/landing/images/gec1.png' %});"></div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="gallery img d-flex align-items-center" style="background-image: url({% static 'assets/landing/images/gec2.png' %});"></div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="gallery img d-flex align-items-center" style="background-image: url({% static 'assets/landing/images/gec3.png' %});"></div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="gallery img d-flex align-items-center" style="background-image: url({% static 'assets/landing/images/gec1.png' %});"></div>
				</div>
        	</div>
    	</div>
    </section>
	<footer class="pt-4 pt-md-5 border-top" style="background:#404E67; padding-bottom:2rem !important; padding-left:2rem">
		<div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="{% static 'assets/images/logo_sss3.png' %}" alt="" width="300px" height="50px">
            </div>
            <div class="col-6 col-md">
                <h5 style="color:white;">Features</h5>
                <ul class="list-unstyled text-small">
                    <li class="text-muted">Feedback Portal</li>
                    <li class="text-muted">Complaint Section</li>
                    <li class="text-muted">Committee Section</li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <b><h5 style="color:white;">About</h5></b>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Contact Us</a></li>
                </ul>
            </div>
			<div class="col-6 col-md">
                <p style="color:white;">Copyright © 2020 GEC Bhavnagar. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

    <script src="{% static 'assets/landing/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/custom-js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'assets/landing/js/custom-js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/aos.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/scrollax.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/google-map.js' %}"></script>
    <script src="{% static 'assets/landing/js/main.js' %}"></script>
    <!-- sweet alert js -->
    <script type="text/javascript" src="{% static 'bower_components/sweetalert/js/sweetalert.min.js' %}"></script>
    <!-- sweet alert modal.js initialize js -->

    <!-- Sign in Validation Javascripts > Start -->
    <script type="text/javascript">
        function validate_role() {
            var role = document.getElementById('role').value;
            var tag = document.getElementById('Error_role');
            if(role == -1){
                tag.innerHTML = "Select Valid Role";
                tag.style.display = 'block';
                document.getElementById("role").classList.add("form-control-danger");
                document.getElementById("role-div").classList.add("has-danger");
                return false;
            }
            else {
                tag.style.display = 'none';
                document.getElementById("role").classList.remove("form-control-danger");
                document.getElementById("role-div").classList.remove("has-danger");
                return true;
            }
        }

        function validate_signin() {
            var email = document.getElementById('email').value;
            var pwd = document.getElementById('pwd').value;
            var btn = document.getElementById('button-sign-in');
            if(email != "" && pwd != "" && validate_role()){
                btn.classList.remove('btn-outline-disabled');
                btn.classList.add('btn-outline-primary');
                btn.disabled = false;
            }
            else {
                btn.classList.remove('btn-outline-primary');
                btn.classList.add('btn-outline-disabled');
                btn.disabled = true;
            }
        }
    </script>
    <!-- Sign in Validation Javascripts > End -->

    <!-- Student Signup Validation Javascripts > Start -->
    <script type="text/javascript">
        function validate_fname() {
            var fname = document.getElementById('fname').value;
            var tag = document.getElementById('Error_fname');
            if(fname.length === 0){
                tag.innerHTML = "Enter Valid First Name";
                tag.style.display = 'block';
                document.getElementById("fname").classList.add("form-control-danger");
                document.getElementById("fname-div").classList.add("has-danger");
                return false;
            }
            else {
                tag.style.display = 'none';
                document.getElementById("fname").classList.remove("form-control-danger");
                document.getElementById("fname-div").classList.remove("has-danger");
                return true;
            }
        }

        function validate_lname() {
            var lname = document.getElementById('lname').value;
            var tag = document.getElementById('Error_lname');
            if(lname.length === 0){
                tag.innerHTML = "Enter Valid Last Name";
                tag.style.display = 'block';
                document.getElementById("lname").classList.add("form-control-danger");
                document.getElementById("lname-div").classList.add("has-danger");
                return false;
            }
            else {
                tag.style.display = 'none';
                document.getElementById("lname").classList.remove("form-control-danger");
                document.getElementById("lname-div").classList.remove("has-danger");
                return true;
            }
        }

        function validate_email() {
            var email = document.getElementById('emailid').value;
            var tag = document.getElementById('Error_emailid');
            var re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            if(re.test(email.toLowerCase())){
                tag.style.display = 'none';
                document.getElementById("emailid").classList.remove("form-control-danger");
                document.getElementById("emailid-div").classList.remove("has-danger");
                return true;
            }
            else {
                tag.innerHTML = "Enter Valid Email Address";
                tag.style.display = 'block';
                document.getElementById("emailid").classList.add("form-control-danger");
                document.getElementById("emailid-div").classList.add("has-danger");
                return false;
            }

        }

        function validate_password() {
            var regularExpression = /^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[a-zA-Z!@#$%&? "])[a-zA-Z0-9!@#$%&?]{6,16}$/;
            var pwd = document.getElementById("password").value;
            var tag = document.getElementById("Error_Pwd");
            if(regularExpression.test(pwd)){
                tag.style.display = 'none';
                document.getElementById("password").classList.remove("form-control-danger");
                document.getElementById("password-div").classList.remove("has-danger");
                document.getElementById("password").classList.add("form-control-success");
                return true;
            }
            else {
                tag.innerHTML = "Password must have at least one uppercase, one lowercase, one digit and one special character. Length of password is 6 to 16.";
                tag.style.display = 'block';
                document.getElementById("password").classList.add("form-control-danger");
                document.getElementById("password-div").classList.add("has-danger");
                return false;
            }
        }

        function validate_enrollment() {
            var enrl = document.getElementById("enrollment").value;
            var tag = document.getElementById("Error_enrl");
            if(enrl.length === 12){
                tag.style.display = 'none';
                document.getElementById("enrollment").classList.remove("form-control-danger");
                document.getElementById("enrollment-div").classList.remove("has-danger");
                //document.getElementById("enrollment").classList.add("form-control-success");
                //document.getElementById("enrollment-div").classList.add("has-success");
                return true;
            }
            else {
                tag.innerHTML = "Length of enrollment number must be 12";
                tag.style.display = 'block';
                document.getElementById("enrollment").classList.add("form-control-danger");
                document.getElementById("enrollment-div").classList.add("has-danger");
                return false;
            }
        }

        function validate_dept() {
            var branch = document.getElementById('dept').value;
            var tag = document.getElementById('Error_dept');
            if(branch == -1) {
                tag.innerHTML = "Select Valid Department.";
                tag.style.display = 'block';
                document.getElementById("dept").classList.add("form-control-danger");
                document.getElementById("dept-div").classList.add("has-danger");
                return false;
            }
            else {
                tag.style.display = 'none';
                document.getElementById("dept").classList.remove("form-control-danger");
                document.getElementById("dept-div").classList.remove("has-danger");
                return true;
            }
        }

        function validate_sem() {
            var sem = document.getElementById('sem').value;
            var tag = document.getElementById('Error_sem');
            if(sem == -1) {
                tag.innerHTML = "Select Valid Semester.";
                tag.style.display = 'block';
                document.getElementById("sem").classList.add("form-control-danger");
                document.getElementById("sem-div").classList.add("has-danger");
                return false;
            }
            else {
                tag.style.display = 'none';
                document.getElementById("sem").classList.remove("form-control-danger");
                document.getElementById("sem-div").classList.remove("has-danger");
                return true;
            }
        }

        function validate_form() {
            var btn = document.getElementById('button-register');
            if(validate_fname() && validate_lname() && validate_email() && validate_password() && validate_enrollment() && validate_dept() && validate_sem()){
                btn.classList.remove('btn-outline-disabled');
                btn.classList.add('btn-outline-primary');
                btn.disabled = false;
            }
            else {
                btn.classList.remove('btn-outline-primary');
                btn.classList.add('btn-outline-disabled');
                btn.disabled = true;
            }
        }
    </script>
    <!-- Student Signup Validation Javascripts > End -->

    <!-- Faculty Signup Validation Javascripts > Start -->
    <script type="text/javascript">
        function validate_faculty_name() {
            var name = document.getElementById('faculty-name').value.toString();
            var tag = document.getElementById('Error_faculty-name');
            if(name.length === 0){
                tag.innerHTML = "Enter Valid Name. It should contain First name, Initial of middle name and lastname such as 'Barry H. Allen' ";
                tag.style.display = 'block';
                document.getElementById("faculty-name").classList.add("form-control-danger");
                document.getElementById("faculty-name-div").classList.add("has-danger");
                return false;
            }
            else {
                tag.style.display = 'none';
                document.getElementById("faculty-name").classList.remove("form-control-danger");
                document.getElementById("faculty-name-div").classList.remove("has-danger");
                return true;
            }
        }

        function validate_faculty_email() {
            var email = document.getElementById('faculty-emailid').value;
            var tag = document.getElementById('Error_faculty-emailid');
            var re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            if(re.test(email.toLowerCase())){
                tag.style.display = 'none';
                document.getElementById("faculty-emailid").classList.remove("form-control-danger");
                document.getElementById("faculty-emailid-div").classList.remove("has-danger");
                return true;
            }
            else {
                tag.innerHTML = "Enter Valid Email Address";
                tag.style.display = 'block';
                document.getElementById("faculty-emailid").classList.add("form-control-danger");
                document.getElementById("faculty-emailid-div").classList.add("has-danger");
                return false;
            }

        }

        function validate_faculty_password() {
            var regularExpression = /^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[a-zA-Z!@#$%&? "])[a-zA-Z0-9!@#$%&?]{6,16}$/;
            var pwd = document.getElementById("faculty-password").value;
            var tag = document.getElementById("Error_faculty-password");
            if(regularExpression.test(pwd)){
                tag.style.display = 'none';
                document.getElementById("faculty-password").classList.remove("form-control-danger");
                document.getElementById("faculty-password-div").classList.remove("has-danger");
                document.getElementById("faculty-password").classList.add("form-control-success");
                return true;
            }
            else {
                tag.innerHTML = "Password must have at least one uppercase, one lowercase, one digit and one special character. Length of password is 6 to 16.";
                tag.style.display = 'block';
                document.getElementById("faculty-password").classList.add("form-control-danger");
                document.getElementById("faculty-password-div").classList.add("has-danger");
                return false;
            }
        }

        function validate_faculty_dept() {
            var branch = document.getElementById('faculty-dept').value;
            var tag = document.getElementById('Error_faculty-dept');
            if(branch == -1) {
                tag.innerHTML = "Select Valid Department.";
                tag.style.display = 'block';
                document.getElementById("faculty-dept").classList.add("form-control-danger");
                document.getElementById("faculty-dept-div").classList.add("has-danger");
                return false;
            }
            else {
                tag.style.display = 'none';
                document.getElementById("faculty-dept").classList.remove("form-control-danger");
                document.getElementById("faculty-dept-div").classList.remove("has-danger");
                return true;
            }
        }

        function validate_faculty_form() {
            var btn = document.getElementById('button-faculty-register');
            if(validate_faculty_name() && validate_faculty_email() && validate_faculty_password() && validate_faculty_dept()){
                btn.classList.remove('btn-outline-disabled');
                btn.classList.add('btn-outline-primary');
                btn.disabled = false;
            }
            else {
                btn.classList.remove('btn-outline-primary');
                btn.classList.add('btn-outline-disabled');
                btn.disabled = true;
            }
        }

    </script>
    <!-- Faculty Signup Validation Javascripts > End -->

    <!-- Messages Javascripts > Start -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        {% if success %}
            setTimeout(function () {
                swal({
                    title: "{{ success }}",
                    text: "{{ msg }}",
                    type: "success",
            }, function () {
                    window.location = "{{ base_url }}";
                });
            }, 10);
        {% endif %}
        {% if error %}
            setTimeout(function () {
                swal({
                    title: "Error",
                    text: "{{ error }}",
                    dangerMode: true,
                    type: "error",
            }, function () {
                    window.location = "{{ base_url }}";
                });
            }, 10);
        {% endif %}
    </script>
    <!-- Messages Javascripts > Start -->
</body>
</html>