{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Support System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
      <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/landing/css/custom_css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/landing/css/custom_css/bootstrap/bootstrap-grid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/landing/css/custom_css/bootstrap/bootstrap-reboot.css' %}">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/feather/css/feather.css' %}">

    <link rel="stylesheet" href="{% static 'assets/landing/css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/animate.css' %}">

    <link rel="stylesheet" href="{% static 'assets/landing/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'assets/landing/css/aos.css' %}">

    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert/css/sweetalert.css' %}">

    <link rel="stylesheet" href="{% static 'assets/landing/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/landing/css/custom_css/style.css' %}">
    <style>
        .text-muted{
            color:#FE8A7D !important;
        }
        body{
            font-size: .875em;
        }
    </style>
</head>
<body>
    <!-- Forgot Password Modal -->
    <div class="modal fade" id="forgot-password" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Recover Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group input-focus">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white">
                                <i class="feather icon-envelope"></i>
                            </span>
                          </div>
                          <input type="email" name="email_forgot" id="email_forgot" placeholder="Email Address" class="form-control form-control-lg border-left-0">
                        </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button class="btn btn-outline-primary btn-block">
                                    <i class="feather icon-send"></i> Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="-webkit-align-content: flex-start; display: block">
                    <div class="row">
                        <div class="col-md-6">
                            <span style="color: black">
                                Thank You,
                            <br />
                            Student Support System
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot Password Modal end -->

    <!-- Sign in Modal -->
    <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="email">Email ID : </label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="pwd">Password : </label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="pwd" id="pwd" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="role">Role : </label>
                            <div class="col-sm-8">
                                <select name="role" id="role" class="custom-select" required>
                                    <option value="" selected disabled>Select Role</option>
                                    <option value="Student">Student</option>
                                    <option value="Faculty">Faculty</option>
                                    <option value="Principal">Principal</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <a href="#" data-toggle="modal" data-target="#sign-up-modal" data-dismiss="modal">Not Registered? Click here to register</a>
                            </div>
                            <div class="col-sm-4">
                                <a href="#" data-toggle="modal" data-target="#forgot-password" data-dismiss="modal">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="form-group row" style="padding-right: 15px; float:right;">
                            <button class="btn btn-outline-primary" id="button-sign-in" name="button-sign-in">
                                <i class="feather icon-check"></i> Sign in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Sign in Modal End -->

    <!-- Registrations modal > Start-->
    <div class="modal fade modal-flex" id="sign-up-modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-student" role="tab" aria-expanded="true">
                                <h6>
                                    Student Registration
                                </h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-faculty" role="tab" aria-expanded="false">
                                <h6>
                                    Faculty Registration
                                </h6>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content modal-body">
                        <div class="tab-pane active" id="tab-student" role="tabpanel" aria-expanded="true">
                            <h5 class="m-b-20">Student Registration</h5>
                            <form method="post" action="{% url 'register' %}" id="student_register">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="fname">First Name : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="fname" id="fname" required>
                                        <div id="Error_fname" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="lname">Last Name : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="lname" id="lname" required>
                                        <div id="Error_lname" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="emailid">Email ID : </label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" name="emailid" id="emailid" required>
                                        <div id="Error_emailid" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="password">Password : </label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="password" id="password" minlength="6" maxlength="16" requiured>
                                        <div id="Error_password" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="enrollment">Enrollment No : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="enrollment" id="enrollment" minlength="12" maxlength="12" required>
                                        <div id="Error_enrollment" style="color: red; display: none"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="dept">Department : </label>
                                    <div class="col-sm-8">
                                        <select name="dept" id="dept" class="custom-select" required>
                                            <option value="" disabled selected>Select Department</option>
                                            {% for i in dept %}
                                                {% if i.accronym == "AM" or i.accronym == "GNRL" %}
                                                {% else %}
                                                    <option value="{{ i.id }}">{{ i.dept_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="division">Division : </label>
                                    <div class="col-sm-8">
                                        <select name="division" id="division" class="custom-select">
                                            <option value="1">Division 1</option>
                                            <option value="2">Division 2</option>
                                            <option value="3">Division 3</option>
                                        </select>
                                        <p class="text-muted">If you are not told about dividion from department then let it be division 1.</p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="sem">Semester : </label>
                                    <div class="col-sm-8">
                                        <select name="sem" id="sem" class="custom-select" required>
                                            <option value="-1" disabled selected>Select Semester</option>
                                            <option value="1">Sem 1</option>
                                            <option value="2">Sem 2</option>
                                            <option value="3">Sem 3</option>
                                            <option value="4">Sem 4</option>
                                            <option value="5">Sem 5</option>
                                            <option value="6">Sem 6</option>
                                            <option value="7">Sem 7</option>
                                            <option value="8">Sem 8</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <a href="#" data-toggle="modal" data-target="#sign-in-modal" data-dismiss="modal">
                                            <i class="feather icon-arrow-left"></i>
                                            Already Registered? Login
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <button type="submit" id="button-register" class="btn btn-block btn-outline-primary">
                                        <i class="feather icon-check"></i>
                                        Register
                                    </button>
{#                                    <input type="submit" value="Register" id="button-register" class="form-control submit btn-disabled" onfocus="validate_form()" onclick="validate_form()" onmouseover="validate_form()" onmouseenter="validate_form()">#}
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab-faculty" role="tabpanel" aria-expanded="false">
                            <h5 class="m-b-20">Faculty Registration</h5>
                            <form action="{% url 'register' %}" method="post" id="faculty_register">
                                {% csrf_token %}
                                <div class="form-group row" id="faculty-name-div">
                                    <label class="col-sm-4 col-form-label" for="faculty-name"> Name : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="faculty-name" id="faculty-name" required>
                                        <div id="Error_faculty-name" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="faculty-emailid">Email ID : </label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" name="faculty-emailid" id="faculty-emailid" required>
                                        <div id="Error_faculty-emailid" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="faculty-password">Password : </label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" name="faculty-password" id="faculty-password" minlength="6" maxlength="16" required>
                                        <div id="Error_faculty-password" style="display: none; color: red;"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label" for="faculty-dept">Department : </label>
                                    <div class="col-sm-8">
                                        <select name="faculty-dept" id="faculty-dept" class="custom-select" required>
                                            <option value="" disabled selected>Select Department</option>
                                            {% for i in dept %}
                                                {% if i.accronym == "AM" or i.accronym == "GNRL" %}
                                                {% else %}
                                                    <option value="{{ i.id }}">{{ i.dept_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <a href="#" data-toggle="modal" data-target="#sign-in-modal" data-dismiss="modal">
                                            <i class="feather icon-arrow-left"></i>
                                            Already Registered? Login
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <button type="submit" id="button-faculty-register" class="btn btn-block btn-outline-primary">
                                        <i class="feather icon-check"></i>
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabs modal > End-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
            <a class="navbar-brand" href="{% url 'home' %}">Student Support System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="{% url 'home' %}" class="nav-link pl-0">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'courtesy' %}" class="nav-link">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contact_us' %}" class="nav-link">
                            Contact Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="modal" data-target="#sign-up-modal">
                            Sign up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link" data-toggle="modal" data-target="#sign-in-modal">
                            Sign in
                        </a>
                    </li>
                </ul>
	      </div>
        </div>
    </nav>

    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url({% static 'assets/landing/images/gec1.png' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 text-center ftco-animate">
                        <h1 class="mb-4">
                            Government Engineering College <span>Bhavnagar</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url({% static 'assets/landing/images/gec3.png' %});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 text-center ftco-animate">
                        <h1 class="mb-4">
                            Government Engineering College <span>Bhavnagar</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-services ftco-no-pb">
        <div class="container-wrap">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-teacher"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Certified Teachers</h3>
                            <blockquote class="blockquote text-right">
                                <p class="m-b-0"><q>The mediocre teacher tells. The good teacher explains. The superior teacher demonstrates. The great teacher inspires.</q></p>
                                <footer class="blockquote-footer" style="color: red">William A. Ward</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-reading"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Special Education</h3>
                            <blockquote class="blockquote text-right">
                                <p class="m-b-0"><q>It is a thousand times better to have common sense without education than to have education without common sense.</q></p>
                                <footer class="blockquote-footer" style="color: red">Robert G. Ingersoll</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-secondary">
                    <div class="media block-6 d-block text-center">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="flaticon-books"></span>
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Book &amp; Library</h3>
                            <blockquote class="blockquote text-right" style="color:#fffabb">
                                <p class="m-b-0"><q>Reading gives us someplace to go when we have to stay where we are. </q></p>
                                <footer class="blockquote-footer" style="color: red">Mason Cooley</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftc-no-pb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
                    <h2 class="mb-4">What We Offer</h2>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
                                <div class="text">
                                    <br/>
                                    <h3>Digital Platform For Feedback</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
                                <div class="text">
                                    <br />
                                    <h3>A Complaint Section</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
                                <div class="text">
                                    <br />
                                    <h3>A Committee Section</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services-2 d-flex">
                                <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
                                <div class="text">
                                    <br />
                                    <h3>Interactive Environment</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-intro" style="background-image: url({% static 'assets/landing/images/gec3.png' %});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-9" style="color:#fff;">
                    <h2>Student Support System</h2>
                    <p class="mb-0" style="color: #fff;">A portal help students to handle issues online and contact faculties whenever any help needed to them.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4"><span>GEC Bhavnagar</span> Departments</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/ce1.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Computer Engineering</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/it1.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Information & Technology</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/civil.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Civil Engineering</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/ec.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Electronics And Communication</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/prod.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Production Engineering</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/mech.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Mechanical Engineering</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/generaldept.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>General Department</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            <div class="img align-self-stretch" style="background-image: url({% static 'assets/landing/images/branch_image/appliedmechanic.png' %});"></div>
                        </div>
                        <div class="text pt-3 text-center">
                            <h3>Applied Mechanics</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4"><span>Our</span> Committees</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 course d-lg-flex ftco-animate">
                    <div class="img" style="background-image: url({% static 'assets/landing/images/antiragging.png' %});"></div>
                    <div class="text bg-light p-4">
                        <h3>Anti Ragging Committee</h3>
                    </div>
                </div>
                <div class="col-md-6 course d-lg-flex ftco-animate">
                    <div class="img" style="background-image: url({% static 'assets/landing/images/womencell.png' %});"></div>
                    <div class="text bg-light p-4">
                        <h3>Women Cell</h3>
                    </div>
                </div>
                <div class="col-md-6 course d-lg-flex ftco-animate">
                    <div class="img" style="background-image: url({% static 'assets/landing/images/grievance.png' %});"></div>
                    <div class="text bg-light p-4">
                        <h3>Grievance Re-Addressal Committee</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
				<div class="col-md-3 ftco-animate">
					<div class="gallery img d-flex align-items-center" style="background-image: url({% static 'assets/landing/images/gec1.png' %});"></div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="gallery img d-flex align-items-center" style="background-image: url({% static 'assets/landing/images/gec2.png' %});"></div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="gallery img d-flex align-items-center" style="background-image: url({% static 'assets/landing/images/gec3.png' %});"></div>
				</div>
				<div class="col-md-3 ftco-animate">
					<div class="gallery img d-flex align-items-center" style="background-image: url({% static 'assets/landing/images/gec1.png' %});"></div>
				</div>
        	</div>
    	</div>
    </section>
	<footer class="pt-4 pt-md-5 border-top" style="background:#404E67; padding-bottom:2rem !important; padding-left:2rem">
		<div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="{% static 'assets/images/logo.png' %}" alt="" width="300px" height="50px">
            </div>
            <div class="col-6 col-md">
                <h5 style="color:white;">Features</h5>
                <ul class="list-unstyled text-small">
                    <li class="text-muted">Feedback Portal</li>
                    <li class="text-muted">Complaint Section</li>
                    <li class="text-muted">Committee Section</li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 style="color:white;">About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'contact_us' %}">Contact Us</a></li>
                    <li><a class="text-muted" href="{% url 'courtesy' %}">About Us</a></li>
                </ul>
            </div>
			<div class="col-6 col-md">
                <p style="color:white;">Copyright © 2020 GEC Bhavnagar. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

    <script src="{% static 'assets/landing/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/custom-js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'assets/landing/js/custom-js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/aos.js' %}"></script>
    <script src="{% static 'assets/landing/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'assets/landing/js/scrollax.min.js' %}"></script>
{#    <script src="{% static 'assets/landing/js/google-map.js' %}"></script>#}
    <script src="{% static 'assets/landing/js/main.js' %}"></script>
    <!-- sweet alert js -->
    <script type="text/javascript" src="{% static 'bower_components/sweetalert/js/sweetalert.min.js' %}"></script>
    
    <script type="text/javascript">
        //Student Registration Validations
        var valid_fname, valid_lname, valid_email, valid_password, valid_enrollment;
        $('input#fname').on('blur', function () {
            var val = $(this).val();
            if(val == "") {
                $('div#Error_fname')
                    .html("Enter valid First Name")
                    .show();
                $(this).css('border-color', 'red');
                valid_fname = 0;
            }
            else {
                $('div#Error_fname').hide();
                $(this).removeAttr('style');
                valid_fname = 1;
            }
        });

        $('input#lname').on('blur', function () {
            var val = $(this).val();
            if(val == "") {
                $('div#Error_lname')
                    .html("Enter valid Last Name")
                    .show();
                $(this).css('border-color', 'red');
                valid_lname = 0;
            }
            else {
                $('div#Error_lname').hide();
                $(this).removeAttr('style');
                valid_lname = 1;
            }
        });

        $('input#emailid').on('blur', validate_email);
        $('input#emailid').on('input', validate_email);

        function validate_email() {
            var val = $(this).val();
            var re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            if(re.test(val)) {
                $('div#Error_emailid').hide();
                $(this).removeAttr('style');
                valid_email = 1;
            }
            else {
                $('div#Error_emailid')
                    .html("Enter valid Email Address")
                    .show();
                $(this).css('border-color', 'red');
                valid_email = 0;
            }
        }

        $('input#password').on('blur', validate_password);
        $('input#password').on('input', validate_password);

        function validate_password() {
            var val = $(this).val();
            var regularExpression = /^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[a-zA-Z!@#$%&? "])[a-zA-Z0-9!@#$%&?]{6,16}$/;
            if(regularExpression.test(val)) {
                $('div#Error_password').hide();
                $(this).removeAttr('style');
                valid_password = 1;
            }
            else {
                $('div#Error_password')
                    .html("Password must contain one upper case, one lower case, one digit and one special character.")
                    .show();
                $(this).css('border-color', 'red');
                valid_password = 0;
            }
        }

        $('input#enrollment').on('blur', validate_enrollment);
        $('input#enrollment').on('input', validate_enrollment);

        function validate_enrollment() {
            var val = $(this).val();
            var re = /\d{12}/;
            if(re.test(val)) {
                $('div#Error_enrollment').hide();
                $(this).removeAttr('style');
                valid_enrollment = 1;
            }
            else {
                $('div#Error_enrollment')
                    .html("Enrollment must be 12 character long.")
                    .show();
                $(this).css('border-color', 'red');
                valid_enrollment = 0;
            }
        }

        $('button#button-register').on('click', function (event) {
            event.preventDefault();
            if(valid_fname && valid_lname && valid_email && valid_password && valid_enrollment) {
                $('#student_register').submit();
            }
            else {
                alert("Please Fill details correctly.")
            }
        });

        //Faculty Registrations Validations
        var valid_faculty_name, valid_faculty_email, valid_faculty_password;
        $('input#faculty-name').on('blur', validate_faculty_name);
        $('input#faculty-name').on('input', validate_faculty_name);

        function validate_faculty_name() {
            var val = $(this).val();
            var re = /[a-zA-Z]+\s{1}[a-zA-Z]+\s{1}[a-zA-Z]+/;
            if(re.test(val)) {
                $('div#Error_faculty-name').hide();
                $(this).removeAttr('style');
                valid_faculty_name = 1;
            }
            else {
                $('div#Error_faculty-name')
                    .html("Name must contain your first name, initial of middle name and last name.")
                    .show();
                $(this).css('border-color', 'red');
                valid_faculty_name = 0;
            }
        }

        $('input#faculty-emailid').on('blur', validate_faculty_email);
        $('input#faculty-emailid').on('input', validate_faculty_email);

        function validate_faculty_email() {
            var val = $(this).val();
            var re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            if(re.test(val)) {
                $('div#Error_faculty-emailid').hide();
                $(this).removeAttr('style');
                valid_faculty_email = 1;
            }
            else {
                $('div#Error_faculty-emailid')
                    .html("Enter valid Email Address")
                    .show();
                $(this).css('border-color', 'red');
                valid_faculty_email = 0;
            }
        }

        $('input#faculty-password').on('blur', validate_faculty_password);
        $('input#faculty-password').on('input', validate_faculty_password);

        function validate_faculty_password() {
            var val = $(this).val();
            var regularExpression = /^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[a-zA-Z!@#$%&? "])[a-zA-Z0-9!@#$%&?]{6,16}$/;
            if(regularExpression.test(val)) {
                $('div#Error_faculty-password').hide();
                $(this).removeAttr('style');
                valid_faculty_password = 1;
            }
            else {
                $('div#Error_faculty-password')
                    .html("Password must contain one upper case, one lower case, one digit and one special character.")
                    .show();
                $(this).css('border-color', 'red');
                valid_faculty_password = 0;
            }
        }

        $('button#button-faculty-register').on('click', function (event) {
            event.preventDefault();
            if(valid_faculty_name && valid_faculty_email && valid_faculty_password) {
                $('#faculty_register').submit();
            }
            else {
                alert("Please Fill details correctly.")
            }
        });
    </script>

    <!-- Messages Javascripts > Start -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        {% if success %}
            setTimeout(function () {
                swal({
                    title: "{{ success }}",
                    text: "{{ msg }}",
                    type: "success",
            }, function () {
                    window.location = "{{ base_url }}";
                });
            }, 10);
        {% endif %}
        {% if error %}
            setTimeout(function () {
                swal({
                    title: "Error",
                    text: "{{ error }}",
                    dangerMode: true,
                    type: "error",
            }, function () {
                    window.location = "{{ base_url }}";
                });
            }, 10);
        {% endif %}
    </script>
    <!-- Messages Javascripts > Start -->
</body>
</html>