
.navbar{
    height:10%;
}
.form-box {

    border: 1px solid;
    padding: 20px;
    margin-top: 3%;
    width: 30%;
    font-size: 18px;
}


.wrapp{
    background-image: url('background9.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 89.5%;
    padding-top:40px;

}

@media only screen and (max-width: 767px) {
    .form-box {
        border: 1px solid;
        padding: 20px;
        margin-top: 4%;
        width: 90%;
        font-size: 18px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
    .form-box {
        border: 1px solid;
        padding: 20px;
        margin-top: 4%;
        width: 50%;
        font-size: 18px;
    }
}