{% extends 'Base/base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
    Assigned Subjects
{% endblock title %}
<!-- Title block > End -->

<!-- Extra CSS Block > Start -->
{% block extra_css %}
    <!-- sweet alert framework -->
{#    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert/css/sweetalert.css' %}">#}
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/pages/data-table/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">
{% endblock extra_css %}
<!-- Extra CSS Block > End -->

<!-- Logo Block > Start -->
{% block logo %}
    <a href="{% url 'faculty_dashboard' %}">
        <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
    </a>
{% endblock logo %}
<!-- Logo Block > End -->

<!-- Navbar Right menus block > Start -->
{# everything inside <ul class="nav-right"> #}
{% block nav_right %}
    <ul class="nav-right">
        <li class="user-profile header-notification">
            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span>{{ name }}</span>
                    <i class="feather icon-chevron-down"></i>
                </div>
                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        <a href="{% url 'faculty_profile' %}">
                            <i class="feather icon-user"></i> My Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="feather icon-log-out"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock nav_right %}
<!-- Navbar Right menus block > End -->

<!-- Modals Block > Start -->
{% block modals %}
{% endblock modals %}
<!-- Modals Block > End -->

<!-- Side Navigation bar Block > Start -->
{% block side_bar %}
{% endblock side_bar %}
<!-- Side Navigation bar Block > End -->


<!-- Main body block > Start -->
{# for dashboard, everything in this tag - <div class="pcoded-content"> #}
{# for others everything in this tag - <div class="pcoded-inner-content"> #}
{% block main_body %}
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                 <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h3>Subjects Assigned to you</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-end">
                            <a class="btn btn-round btn-outline-primary" href="{% url 'faculty_dashboard' %}">
                                <i class="feather icon-arrow-left"></i>
                                Back to Dashboard
                            </a>
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-block">
                                    <div class="dt-responsive table-responsive">
                                        <table id="simpletable" class="table table-hover nowrap">
                                            <thead>
                                            <tr>
                                                <th class="text-center" scope="col">Subject Name</th>
                                                <th class="text-center" scope="col">Subject Code</th>
                                                <th class="text-center" scope="col">Department</th>
                                                <th class="text-center" scope="col">Semester</th>
                                                <th class="text-center" scope="col">Assigned By</th>
                                                <th class="text-center" scope="col">View Feedback</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for s in subjects %}
                                                <tr>
                                                    <td class="text-center" style="vertical-align: middle;">{{ s.subject_id.subject_name }}</td>
                                                    <td class="text-center" style="vertical-align: middle;">{{ s.subject_id.subject_code }}</td>
                                                    <td class="text-center" style="vertical-align: middle;">{{ s.subject_id.dept_id.dept_name }}</td>
                                                    <td class="text-center" style="vertical-align: middle;">{{ s.subject_id.semester }}</td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <span data-toggle="tooltip" title="{{ s.subject_id.dept_id.dept_name }}">{{ s.subject_id.dept_id.accronym }} HOD</span>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="btn-group btn-group-sm">
                                                            <button type="button" class="btn_detailed btn btn-outline-info waves-effect waves-light" subject_id="{{ s.subject_id.id }}" style="float: none;margin: 5px;">
                                                                Detailed Feedback
                                                            </button> <br />
                                                            <button type="button" class="btn_average btn btn-outline-success waves-effect waves-light" subject_id="{{ s.subject_id.id }}" style="float: none;margin: 5px;">
                                                                Average Feedback
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_body %}
<!-- Main body block > End -->

<!-- Extra JS Block > Start -->
{% block extra_js %}
    <!-- sweet alert js -->
{#    <script type="text/javascript" src="{% static 'bower_components/sweetalert/js/sweetalert.min.js' %}"></script>#}
    <script src="{% static 'assets/sweetalert/sweetalert2@9.js' %}"></script>
    <!-- data-table js -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/pages/data-table/js/data-table-custom.js' %}"></script>
{% endblock extra_js %}
<!-- Extra JS Block > End -->

<!-- Custom JS Block > Start -->
{% block custom_js %}
    <script type="text/javascript">

        var year_option = {};
        var start_year = 2020;
        var current_year = new Date().getFullYear();
        for(var i=start_year;i<=current_year;++i) {
            year_option[i] = i;
        }
        console.log(year_option);

        $('button.btn_detailed').on('click', function(event) {
            event.preventDefault();
            var subject_id = $(this).attr('subject_id');
            Swal.fire({
                title: "Select Feedback Type",
                showCancelButton: true,
                confirmButtonText: 'Mid Semester Feedback',
                cancelButtonText: 'End Semester Feedback',
            })
            .then(async (result) => {
                if (result.value) {
                    // For mid semester feedback
                    const { value: year } = await Swal.fire({
                        title: 'Select Year',
                        input: 'select',
                        inputOptions: year_option,
                        inputPlaceholder: 'Select Year',
                        showCancelButton: true,
                        inputValidator: (value) => {
                            return new Promise((resolve) => {
                                if (value === '') {
                                    resolve('You need to select year :)')
                                }
                                else {
                                    resolve()
                                }
                            })
                        }
                    })
                    if (year) {
                        window.location = "{{ base_url }}" + "faculty/subjects/view-detailed-feedback/mid/" + subject_id + "/?year=" + year;
                    }
                }
                else if(result.dismiss === Swal.DismissReason.cancel) {
                    //For end semester feedback
                    const { value: year } = await Swal.fire({
                        title: 'Select Year',
                        input: 'select',
                        inputOptions: year_option,
                        inputPlaceholder: 'Select Year',
                        showCancelButton: true,
                        inputValidator: (value) => {
                            return new Promise((resolve) => {
                                if (value === '') {
                                    resolve('You need to select year :)')
                                }
                                else {
                                    resolve()
                                }
                            })
                        }
                    })
                    if (year) {
                        window.location = "{{ base_url }}" + "faculty/subjects/view-detailed-feedback/end/" + subject_id + "/?year=" + year;
                    }
                }
            });
        });

        $('button.btn_average').on('click', function (event) {
            event.preventDefault();
            var subject_id = $(this).attr('subject_id');
            Swal.fire({
                title: "Select Feedback Type",
                showCancelButton: true,
                confirmButtonText: 'Mid Semester Feedback',
                cancelButtonText: 'End Semester Feedback',
            })
            .then(async (result) => {
                if (result.value) {
                    // For mid semester feedback
                    const { value: year } = await Swal.fire({
                        title: 'Select Year',
                        input: 'select',
                        inputOptions: year_option,
                        inputPlaceholder: 'Select Year',
                        showCancelButton: true,
                        inputValidator: (value) => {
                            return new Promise((resolve) => {
                                if (value === '') {
                                    resolve('You need to select year :)')
                                }
                                else {
                                    resolve()
                                }
                            })
                        }
                    })
                    if (year) {
                        window.location = "{{ base_url }}" + "faculty/subjects/view-average-feedback/mid/" + subject_id + "/?year=" + year;
                    }
                }
                else if(result.dismiss === Swal.DismissReason.cancel) {
                    //For end semester feedback
                    const { value: year } = await Swal.fire({
                        title: 'Select Year',
                        input: 'select',
                        inputOptions: year_option,
                        inputPlaceholder: 'Select Year',
                        showCancelButton: true,
                        inputValidator: (value) => {
                            return new Promise((resolve) => {
                                if (value === '') {
                                    resolve('You need to select year :)')
                                }
                                else {
                                    resolve()
                                }
                            })
                        }
                    })
                    if (year) {
                        window.location = "{{ base_url }}" + "faculty/subjects/view-average-feedback/end/" + subject_id + "/?year=" + year;
                    }
                }
            });
        });
    </script>
{% endblock custom_js %}
<!-- Custom JS Block > End -->