{% extends 'Base/base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
    {{ subject_obj.subject_name }} ({{ subject_obj.subject_code }}) - {{ fb_type|capfirst }} Semester Average Feedback
{% endblock title %}
<!-- Title block > End -->

<!-- Extra CSS Block > Start -->
{% block extra_css %}
    <!-- Font-awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/font-awesome/css/font-awesome.min.css' %}">
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert/css/sweetalert.css' %}">
{% endblock extra_css %}
<!-- Extra CSS Block > End -->

<!-- Logo Block > Start -->
{% block logo %}
    {% ifequal User_Role "HOD" %}
        <a href="{% url 'hod_dashboard' %}">
            <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
        </a>
    {% endifequal %}

    {% ifequal User_Role "Principal" %}
        <a href="{% url 'principal_dashboard' %}">
            <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
        </a>
    {% endifequal %}

    {% ifequal User_Role "Faculty" %}
        <a href="{% url 'faculty_dashboard' %}">
            <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
        </a>
    {% endifequal %}
{% endblock logo %}
<!-- Logo Block > End -->

<!-- Navbar Right menus block > Start -->
{# everything inside <ul class="nav-right"> #}
{% block nav_right %}
    <ul class="nav-right">
        <li class="user-profile header-notification">
            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span>{{ name }}</span>
                    <i class="feather icon-chevron-down"></i>
                </div>
                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    {% ifequal User_Role "HOD" %}
                        <li>
                            <a href="{% url 'hod_profile' %}">
                                <i class="feather icon-user"></i> My Profile
                            </a>
                        </li>
                    {% endifequal %}

                    {% ifequal User_Role "Principal" %}
                        <li>
                            <a href="{% url 'principal_profile' %}">
                                <i class="feather icon-user"></i> My Profile
                            </a>
                        </li>
                    {% endifequal %}

                    {% ifequal User_Role "Faculty" %}
                        <li>
                            <a href="{% url 'faculty_profile' %}">
                                <i class="feather icon-user"></i> My Profile
                            </a>
                        </li>
                    {% endifequal %}
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="feather icon-log-out"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock nav_right %}
<!-- Navbar Right menus block > End -->

<!-- Modals Block > Start -->
{% block modals %}
{% endblock modals %}
<!-- Modals Block > End -->

<!-- Side Navigation bar Block > Start -->
{% block side_bar %}
{% endblock side_bar %}
<!-- Side Navigation bar Block > End -->


<!-- Main body block > Start -->
{# for dashboard, everything in this tag - <div class="pcoded-content"> #}
{# for others everything in this tag - <div class="pcoded-inner-content"> #}
{% block main_body %}
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                 <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h3>{{ fb_type|capfirst }} Semester Average Feedback for {{ year }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <form action="{% url 'faculty_subject_average_feedback' type=fb_type sub_id=subject_obj.id fac_id=faculty_obj.id %}" method="get">
                                {% csrf_token %}
                                <input type="hidden" id="year" name="year" value="{{ year }}">
                                <input type="hidden" id="download" name="download" value="True">
                                <button type="submit" class="btn btn-primary">Download Report</button>
                            </form>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 d-flex justify-content-end">
                            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-round btn-outline-primary">
                                <i class="feather icon-arrow-left"></i>
                                Back
                            </a>
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <div class="row">
                       <div class="col-sm-12" id="div1">
                           <div class="card">
                               <div class="card-block">
                                   <div class="row m-t-20 m-b-20">
                                       <div class="col-sm-6">
                                           Last feedback given on: <b>{{ latest_date }}</b>
                                       </div>
                                       <div class="col-sm-6 d-flex justify-content-end">
                                           You can see all the question &nbsp; <a href="#questions_list_href" style="color: dodgerblue; font-size: inherit">here.</a>
                                       </div>
                                       <div class="col-sm-12 row m-t-10 m-b-10">
                                           <div class="col-sm-3 d-flex justify-content-end">
                                               Subject Name :
                                           </div>
                                           <div class="col-sm-3 d-flex justify-content-start">
                                               <b>{{ subject_obj.subject_name }} ({{ subject_obj.subject_code }})</b>
                                           </div>
                                           <div class="col-sm-3 d-flex justify-content-end">
                                               Department :
                                           </div>
                                           <div class="col-sm-3 d-flex justify-content-start">
                                                <b>{{ subject_obj.dept_id.dept_name }} (Div - {{ subject_obj.div }})</b>
                                           </div>
                                           <div class="col-sm-3 d-flex justify-content-end">
                                               Semester :
                                           </div>
                                           <div class="col-sm-3 d-flex justify-content-start">
                                                <b>{{ subject_obj.semester }}</b>
                                           </div>
                                           <div class="col-sm-3 d-flex justify-content-end">
                                               Faculty :
                                           </div>
                                           <div class="col-sm-3 d-flex justify-content-start">
                                               <b>{{ faculty_obj.name }}</b>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row m-b-20" style="font-size: 12pt;">
                                       <div class="col-sm-6 d-flex justify-content-center">
                                           Overall Feedback : &nbsp;<b><span id="overall_feedback"></span></b>
                                       </div>
                                       <div class="col-sm-6 d-flex justify-content-center">
                                           Total number of feedback : &nbsp;<b><span id="count"></span></b>
                                       </div>
                                   </div>
                                   <canvas id="myChart"></canvas>
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="row" id="questions_list">
                        <div class="col-sm-12">
                            <div class="card" id="questions_list_href">
                                <div class="card-header">
                                    <h4 style="font-size: 20px">Questions List</h4>
                                </div>
                                <div class="card-block">
                                    <ul>
                                        {% for q in questions %}
                                            <li><b>Question : {{ forloop.counter }}</b> - {{ q.question_text }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_body %}
<!-- Main body block > End -->

<!-- Extra JS Block > Start -->
{% block extra_js %}
    <!-- sweet alert js -->
    <script type="text/javascript" src="{% static 'bower_components/sweetalert/js/sweetalert.min.js' %}"></script>

    <!-- Chart js -->
    <script type="text/javascript" src="{% static 'assets/extra-js/Chart/Chart.js_2.9.3.js' %}"></script>
{% endblock extra_js %}
<!-- Extra JS Block > End -->

<!-- Custom JS Block > Start -->
{% block custom_js %}
    <!-- Javascript for Graph -->
    <script type="text/javascript">
        var feedback = JSON.parse('{{ feedback|safe }}');
        $('span#count').html(feedback['count']);
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };
        var colorNames = Object.keys(window.chartColors);
        var question_label = [];
        var data = [];
        var sum = 0;
        var div;
        {% for q in questions %}
            var counter = '{{ forloop.counter }}';
            var ind = "Q"+counter;
            div = parseInt(counter);
            data.push(feedback[ind]);
            sum += parseInt(feedback[ind]);
            question_label.push('Question : ' + '{{ forloop.counter }}');
        {% endfor %}
        $('span#overall_feedback').html(((sum)/div).toFixed(2));
        var color = Chart.helpers.color;
		var barChartData = {
			labels: question_label,
			datasets : [{
				label: '{{ subject_obj.subject_name }} ({{ subject_obj.subject_code }})',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: data
			}]
		};
        window.onload = function() {
			var ctx = document.getElementById('myChart').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
				    scales: {
				        yAxes: [{
				            ticks: {
				                beginAtZero: true,
                                max: 5.0
                            }
                        }]
                    },
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: '{{ fb_type|capfirst }} Semester Average Feedback for {{ subject_obj.subject_name }}'
					}
				}
			});
		};
    </script>
{% endblock custom_js %}
<!-- Custom JS Block > End -->