{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>View Detailed Feedback</title>
    <!-- Meta -->
    <meta name="author" content="Jasmin Makwana(160210107030), Kinjal Doshi(160210107011), Jinesh Kamdar(160210107024), Vishwa Rajput(160210107047)">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/css/bootstrap.min.css' %}">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/feather/css/feather.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom_css/bg.css' %}">
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="feather icon-menu"></i>
                    </a>
                    <a href="index-1.htm">
                        <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Theme-Logo">
                    </a>
                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>
                    <div class="navbar-container container-fluid">

                    <ul class="nav-right">

                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{% static 'assets/images/avatar-4.jpg' %}" class="img-radius" alt="User-Profile-Image">
                                    <span>{{ name }}</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="user-profile.htm">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../home_auth/change_password.html">
                                            <i class="feather icon-log-out"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                 <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>Mid Semester Detailed Feedback</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-body">
                                   <div class="row">
                                        <div class="col-sm-12">
                                            <!-- Basic Form Inputs card start -->
                                            <div class="card">
                                                <div class="card-block">
                                                    <form>
                                                        <div class="form-group row">
                                                        <label class="col-sm-4 col-form-label">Select Subject To View Feedback</label>
                                                        <div class="col-sm-8">
                                                            <select name="select" class="form-control">
                                                                <option value="opt1">Select Subject</option>
                                                                <option value="opt2">Computer Network</option>
                                                                <option value="opt3">Compiler Design</option>
                                                                <option value="opt4">Theory Of Computation</option>
                                                                <option value="opt5">Cyber Security</option>
                                                                <option value="opt6">Mathematics 1</option>
                                                                <option value="opt7">Mathematics 2</option>
                                                                <option value="opt8">Mathematics 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    </form>
                                                </div>
                                                <!-- Zero config.table start -->
                                                    <div class="card-block">
                                                        <div class="dt-responsive table-responsive">
                                                            <table id="simpletable" class="table table-striped table-bordered nowrap">
                                                                <thead>
                                                                <tr>
                                                                    <th>Sr. No.</th>
                                                                    <th>Questions</th>
                                                                    <th>Answers</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>System Architect</td>
                                                                        <td>Edinburgh</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td>Accountant</td>
                                                                        <td>Tokyo</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>3</td>
                                                                        <td>Junior Technical Author</td>
                                                                        <td>San Francisco</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>4</td>
                                                                        <td>Senior Javascript Developer</td>
                                                                        <td>Edinburgh</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>5</td>
                                                                        <td>System Architect</td>
                                                                        <td>Edinburgh</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>6</td>
                                                                        <td>Accountant</td>
                                                                        <td>Tokyo</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>7</td>
                                                                        <td>Junior Technical Author</td>
                                                                        <td>San Francisco</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>8</td>
                                                                        <td>Senior Javascript Developer</td>
                                                                        <td>Edinburgh</td>

                                                                    </tr>
                                                                     <tr>
                                                                        <td>9</td>
                                                                        <td>System Architect</td>
                                                                        <td>Edinburgh</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>10</td>
                                                                        <td>Accountant</td>
                                                                        <td>Tokyo</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>11</td>
                                                                        <td>Junior Technical Author</td>
                                                                        <td>San Francisco</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>12</td>
                                                                        <td>Senior Javascript Developer</td>
                                                                        <td>Edinburgh</td>

                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                <tr>
                                                                    <th>Sr. No.</th>
                                                                    <th>Questions</th>
                                                                    <th>Answers</th>
                                                                </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Zero config.table end -->
                                            </div>
                                            <!-- Basic Form Inputs card end -->
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{%static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script>

    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/SmoothScroll.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'assets/js/vartical-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.min.js' %}"></script>


</body>

</html>
