{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>View Average Feedback</title>
    <!-- Meta -->
    <meta name="author" content="Jasmin Makwana(160210107030), Kinjal Doshi(160210107011), Jinesh Kamdar(160210107024), Vishwa Rajput(160210107047)">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/css/bootstrap.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- Switch component css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/switchery/css/switchery.min.css' %}">
    <!-- Tags css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-tagsinput/css/bootstrap-tagsinput.css' %}">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/feather/css/feather.css' %}">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom_css/bg.css' %}">
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="feather icon-menu"></i>
                    </a>
                    <a href="index-1.htm">
                        <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Theme-Logo">
                    </a>
                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>
                    <div class="navbar-container container-fluid">

                    <ul class="nav-right">

                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{% static 'assets/images/avatar-4.jpg' %}" class="img-radius" alt="User-Profile-Image">
                                    <span>Jasmin Makwana</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="#">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="feather icon-log-out"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                             <div class="page-header">
                                <div class="row align-items-end">
                                    <div class="col-lg-12">
                                        <div class="page-header-title">
                                            <div class="d-inline">
                                                <h3>Computer Engineering Department</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 m-t-20">
                                        <button type="button" class="btn btn-primary">Download Report</button>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <span class="f-right">
                                            <a href="#" class="btn" style="font-size: 15px">
                                                <i class="feather icon-arrow-left"></i>
                                                Back to Dashboard
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="page-body">
                               <div class="row">
                                   <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                       <div class="card">
                                           <div class="card-header">
                                               <h4 style="font-size: 20px">Average Feedback</h4>
                                               <form action="#" method="post">
                                                   <div class="form-group row">
                                                       <label for="faculty" class="col-md-2 col-lg-2 col-form-label">Select Faculty :</label>
                                                       <div class="col-md-8 col-lg-8">
                                                           <select class="form-control" name="faculty" id="faculty">
                                                           </select>
                                                       </div>
                                                       <div class="col-md-2 col-lg-2">
                                                           <button type="button" class="btn btn-outline-info">View</button>
                                                       </div>
                                                   </div>
                                               </form>
                                               <div class="col-sm-12">
                                                   <button class="btn btn-round btn-sm">
                                                       End Semester <i class="feather icon-x"></i>
                                                   </button>
                                                   Filter Tabs goes here.
                                               </div>
                                           </div>
                                           <div class="card-block">
                                               <canvas id="myChart"></canvas>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                       <div class="card">
                                           <div class="card-header">
                                               <h4 style="font-size: 20px">Filters</h4>
                                           </div>
                                           <div class="card-block">
                                           </div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{%static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/css-scrollbars.js' %}"></script>

    <!-- Chart js -->
    <script type="text/javascript" src="{% static 'assets/extra-js/Chart/Chart.js_2.9.3.js' %}"></script>

    <!-- custom js -->
    <script src="{% static 'assets/js/vartical-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <!-- Javascript for Graph -->
    <script type="text/javascript">
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };
        var color = Chart.helpers.color;
		var barChartData = {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'Dataset 1',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: [50, 75, 25, 90, 52, 20, 10]
			}, {
				label: 'Dataset 2',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				borderWidth: 1,
				data: [10, 15, 20, 25, 35, 45, 50]
			}]

		};
        window.onload = function() {
			var ctx = document.getElementById('myChart').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
				    scales: {
				        yAxes: [{
				            ticks: {
				                beginAtZero: true,
                                max: 100
                            }
                        }]
                    },
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Chart.js Bar Chart'
					}
				}
			});

		};
    </script>
</body>

</html>
