{% extends 'Base/base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
    Manage Department
{% endblock title %}
<!-- Title block > End -->

<!-- Extra CSS Block > Start -->
{% block extra_css %}
    <!-- Switch component css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/switchery/css/switchery.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap-selectpicker/css_bootstrap-select.css' %}" />
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert/css/sweetalert.css' %}">
        <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/pages/data-table/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">
{% endblock extra_css %}
<!-- Extra CSS Block > End -->

<!-- Custom CSS Block > Start -->
{% block custom_css %}
{% endblock custom_css %}
<!-- Custom CSS Block > End -->

<!-- Modals Block > Start -->
{% block modals %}
    <!-- Add Subject modal > Start -->
    <div class="modal fade" id="add-subject-modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Subject</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'hod_manage_department' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="add_Subject_Name">Subject Name : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="add_Subject_Name" id="add_Subject_Name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="add_Subject_Code">Subject Code : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="add_Subject_Code" id="add_Subject_Code" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="add_subject_division">Division : </label>
                            <div class="col-sm-8">
                                <select name="add_subject_division" id="add_subject_division" class="custom-select" style="width: 100%" required>
                                    <option value="-1" disabled selected>Select Division</option>
                                    <option value="1">Division 1</option>
                                    <option value="2">Division 2</option>
                                    <option value="3">Division 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="add_subject_semester">Semester : </label>
                            <div class="col-sm-8">
                                <select name="add_subject_semester" id="add_subject_semester" class="custom-select" style="width: 100%" required>
                                    <option value="-1" disabled selected>Select Semester</option>
                                    <option value="1">Sem 1</option>
                                    <option value="2">Sem 2</option>
                                    <option value="3">Sem 3</option>
                                    <option value="4">Sem 4</option>
                                    <option value="5">Sem 5</option>
                                    <option value="6">Sem 6</option>
                                    <option value="7">Sem 7</option>
                                    <option value="8">Sem 8</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="add_teaching_faculty">Teaching Faculty : </label>
                            <div class="col-sm-8">
                                <select name="add_teaching_faculty" id="add_teaching_faculty" class="selectpicker form-control" multiple data-live-search="true" data-selected-text-format="count > 3" title="Select Teaching Faculty" required>
                                    {% for d in dept_faculties %}
                                        <optgroup label="{{ d.name }}">
                                        {% for f in d.faculties %}
                                            <option value="{{ f.id }}">{{ f.name }}</option>
                                        {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row f-right" style="padding-right: 15px;">
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="feather icon-plus"></i>  Add Subject
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Subject modal > End -->
{% endblock modals %}
<!-- Modals Block > End -->

<!-- Logo Block > Start -->
{% block logo %}
    <a href="{% url 'hod_dashboard' %}">
        <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
    </a>
{% endblock logo %}
<!-- Logo Block > End -->

<!-- Navbar Right menus block > Start -->
{# everything inside <ul class="nav-right"> #}
{% block nav_right %}
    <ul class="nav-right">
        <li class="user-profile header-notification">
            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span>{{ name }}</span>
                    <i class="feather icon-chevron-down"></i>
                </div>
                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        <a href="{% url 'hod_profile' %}">
                            <i class="feather icon-user"></i> Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="feather icon-log-out"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock nav_right %}
<!-- Navbar Right menus block > End -->

<!-- Side Navigation bar Block > Start -->
{% block side_bar %}
{% endblock side_bar %}
<!-- Side Navigation bar Block > End -->


<!-- Main body block > Start -->
{# for dashboard, everything in this tag - <div class="pcoded-content"> #}
{# for others everything in this tag - <div class="pcoded-inner-content"> #}
{% block main_body %}
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <div class="d-inline">
                                                <h3>Manage Department</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 d-flex justify-content-end">
                                        <a class="btn btn-round btn-outline-primary" href="{% url 'hod_dashboard' %}">
                                            <i class="feather icon-arrow-left"></i>
                                            Back to Dashboard
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- List view card start -->
                            <div class="card">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-lg-12 col-xl-12">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs md-tabs tabs-left b-none" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="feedbackStatus-tab" data-toggle="tab" href="#feedbackStatus" role="tab" aria-controls="feedbackStatus" aria-selected="true" style="font-size: 12pt; width: 180px;">Take Feedback</a>
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="faculties-tab" data-toggle="tab" href="#faculties" role="tab" aria-controls="faculties" aria-selected="false" style="font-size: 12pt; width: 180px;">Faculties</a>
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="subjects-tab" data-toggle="tab" href="#subjects" role="tab" aria-controls="subjects" aria-selected="false" style="font-size: 12pt; width: 180px;">Subjects</a>
                                                    <div class="slide"></div>
                                                </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="col-sm-12 tab-content tabs-left-content card-block" style="border: 1px solid #353c4e; padding: 20px 20px;">
                                                <div class="tab-pane fade show active" id="feedbackStatus" role="tabpanel" aria-labelledby="feedbackStatus-tab">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <h5>Make Feedback live for students.</h5>
                                                        </div>
                                                    </div>
                                                    <div class="p-t-25 p-b-25">
                                                        <form action="{% url 'hod_manage_department' %}" method="post" id="feedback_live_form">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="status" id="status" value="true">
                                                            <div class="form-group row">
                                                                <label class="col-sm-4 col-form-label" for="mid_sem_live">Make Mid Semester feedback live : </label>
                                                                <div class="col-sm-8">
                                                                    {% ifequal mid_live True %}
                                                                        <input type="checkbox" id="mid_sem_live" name="mid_sem_live" checked>
                                                                    {% else %}
                                                                        <input type="checkbox" id="mid_sem_live" name="mid_sem_live">
                                                                    {% endifequal %}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-4 col-form-label" for="end_sem_live">Make End Semester feedback live : </label>
                                                                <div class="col-sm-8">
                                                                    {% ifequal end_live True %}
                                                                        <input type="checkbox" id="end_sem_live" name="end_sem_live" checked>
                                                                    {% else %}
                                                                        <input type="checkbox" id="end_sem_live" name="end_sem_live">
                                                                    {% endifequal %}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="col-sm-8 d-flex justify-content-center">
                                                                    <button type="submit" class="btn btn-outline-primary">
                                                                        Confirm
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="faculties" role="tabpanel" aria-labelledby="faculties-tab">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <h5>List of all faculties registered in your Department</h5>
                                                        </div>
                                                    </div>
                                                    <div class="dt-responsive table-responsive p-t-20">
                                                        <table id="simpletable" class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th scope="col">Name</th>
                                                                    <th scope="col">Email ID</th>
                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for f in faculties %}
                                                                    {% ifnotequal f.auth_id request.user %}
                                                                        <tr row_id="{{ f.id }}">
                                                                            <th scope="row">
                                                                                <div col_name="id">
                                                                                    {{ forloop.counter }}
                                                                                </div>
                                                                            </th>
                                                                            <td>
                                                                                <div col_name="name" id="name">
                                                                                    {{ f.name }}
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div col_name="email" id="email">
                                                                                    {{ f.auth_id.email }}
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <span class="btn_remove">
                                                                                    <div class="btn-toolbar" style="text-align: left;">
                                                                                        <div class="btn-group btn-group-sm" style="float: none;">
                                                                                            <button type="button" class="btn btn-danger waves-effect waves-light" style="float: none;margin: 5px;">
                                                                                                <span class="icofont icofont-ui-delete"></span>
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    {% else %}
                                                                        <tr row_id="{{ f.id }}">
                                                                            <th scope="row">
                                                                                <div col_name="id">
                                                                                    {{ forloop.counter }}
                                                                                </div>
                                                                            </th>
                                                                            <td>
                                                                                <div col_name="name" id="name">
                                                                                    {{ f.name }}
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div col_name="email" id="email">
                                                                                    {{ f.auth_id.email }}
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="label-main">
                                                                                    <label class="label label-lg label-primary">HOD</label>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    {% endifnotequal %}
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="subjects" role="tabpanel" aria-labelledby="subjects-tab">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <h5>List of Subjects of Department</h5>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                                            <button type="button" class="btn btn-outline-primary f-right" data-toggle="modal" data-target="#add-subject-modal">
                                                                <i class="feather icon-plus"></i>
                                                                Add Subjects
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="dt-responsive table-responsive p-t-20">
                                                        <table id="simpletable2" class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th scope="col">Subject Name</th>
                                                                    <th scope="col">Subject Code</th>
                                                                    <th scope="col">Division</th>
                                                                    <th scope="col">Semester</th>
                                                                    <th scope="col">Teaching Faculty</th>
                                                                    <th scope="col">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for s in subjects %}
                                                                <tr row_id="{{ s.id }}">
                                                                    <th scope="row">
                                                                        <div col_name="subject_id" id="subject_id">
                                                                            {{ forloop.counter }}
                                                                        </div>
                                                                    </th>
                                                                    <td>
                                                                        <div class="subject_data" col_name="subject_name" id="subject_name">
                                                                            {{ s.name }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="subject_data" col_name="subject_code" id="subject_code">
                                                                            {{ s.code }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="subject_data" col_name="subject_division" id="subject_division">
                                                                            {{ s.div }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="subject_data" col_name="subject_sem" id="subject_sem">
                                                                            {{ s.sem }}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="subject_data" col_name="teaching_faculties" id="teaching_faculties" is_edited="0">
                                                                            {% for i in s.teaching_faculty %}
                                                                                <span class="faculty" fac_id="{{ i.faculty_id.id }}" fac_email="{{ i.faculty_id.auth_id.email }}">
                                                                                    {{ i.faculty_id.name }} ({{ i.faculty_id.dept_id.accronym }})
                                                                                </span>
                                                                                <br/>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="btn-toolbar" style="text-align: left;">
                                                                            <div class="btn-group btn-group-sm" style="float: none;">
                                                                                <button type="button" class="btn_subject_edit btn btn-primary waves-effect waves-light" style="float: none;margin: 5px;">
                                                                                    <span class="icofont icofont-ui-edit"></span>
                                                                                </button>
                                                                                <button type="button" class="btn_subject_remove btn btn-danger waves-effect waves-light" style="float: none;margin: 5px;">
                                                                                    <span class="icofont icofont-ui-delete"></span>
                                                                                </button>
                                                                                <button type="button" class="btn_subject_save btn btn-primary waves-effect waves-light active" style="float: none;margin: 5px;">
                                                                                    <span class="icofont icofont-ui-check"></span>
                                                                                </button>
                                                                                <button type="button" class="btn_subject_cancel btn btn-danger waves-effect waves-light" style="float: none;margin: 5px;">
                                                                                    <span class="icofont icofont-ui-close"></span>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- List view card end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_body %}
<!-- Main body block > End -->

<!-- Extra JS Block > Start -->
{% block extra_js %}
    <!-- Switch component js -->
    <script type="text/javascript" src="{% static 'bower_components/switchery/js/switchery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-selectpicker/js_bootstrap-select.js' %}"></script>
    <!-- sweet alert js -->
    <script type="text/javascript" src="{% static 'bower_components/sweetalert/js/sweetalert.min.js' %}"></script>

        <!-- data-table js -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
{% endblock extra_js %}
<!-- Extra JS Block > End -->

<!-- Custom JS Block > Start -->
{% block custom_js %}
    <!-- Enabling Data tables -->
    <script type="text/javascript">
    $(document).ready(function() {
        $('#simpletable').DataTable();
        $('#simpletable2').DataTable();
    });
    </script>

    <!-- Enabling Select Picker -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('select.selectpicker').selectpicker();

            var mid_live = document.querySelector('#mid_sem_live');
	        var mid_switchery = new Switchery(mid_live, { color: '#4680ff', jackColor: '#fff' });

	        var end_live = document.querySelector('#end_sem_live');
	        var end_switchery = new Switchery(end_live, { color: '#4680ff', jackColor: '#fff' });
        });
    </script>

    <script type="text/javascript">
        var faculty_json = JSON.parse('{{ faculty_json|safe }}');
        console.log(faculty_json);
        {% if success %}
            swal({
                title: "{{ success }}",
                type: "success",
            });
        {% endif %}
        {% if error %}
            swal({
                title: "Error",
                text: "{{ error }}",
                dangerMode: true,
                type: "error",
            });
        {% endif %}
    </script>

    <!-- Javascripts for Subjects > Start -->
    <script type="text/javascript">
        $(document).find('.btn_subject_save').hide();
        $(document).find('.btn_subject_cancel').hide();

        // Click event for edit button.
        $(document).on('click', '.btn_subject_edit', function (event) {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');
            tbl_row.find('.btn_subject_edit').hide();
            tbl_row.find('.btn_subject_remove').hide();
            tbl_row.find('.btn_subject_save').show();
            tbl_row.find('.btn_subject_cancel').show();
            var row_id = tbl_row.attr('row_id');

            tbl_row.find('.subject_data').each(function (index, val) {
                $(this).attr('original_entry', $(this).html().toString().trim());
                if($(this).attr('col_name') == "subject_name") {
                    var value = $(this).html().toString().trim();
                    var name_input = '<input class="form-control" id="new_subject_name" name="new_subject_name" value="'+value+'" style="width: inherit"></input>'
                    $(this).html(name_input);
                }
                else if($(this).attr('col_name') == "subject_code") {
                    var value = $(this).html().toString().trim();
                    var code_input = '<input class="form-control" id="new_subject_code" name="new_subject_code" value="'+value+'" style="width: inherit"></input>'
                    $(this).html(code_input);
                }
                else if($(this).attr('col_name') == "subject_sem") {
                    var value = $(this).html().toString().trim();
                    var sem_select = '<select class="custom-select" name="new_subject_sem" id="new_subject_sem">';
                    var i;
                    for(i=1;i<=8;++i){
                        if(i == value){
                            sem_select += '<option value="'+i.toString()+'" selected>'+i.toString()+'</option>';
                        }
                        else {
                            sem_select += '<option value="'+i.toString()+'">'+i.toString()+'</option>';
                        }
                    }
                    sem_select += '</select>';
                    $(this).html(sem_select);
                }
                else if($(this).attr('col_name') == "subject_division") {
                    var value = $(this).html().toString().trim();
                    var div_select = '<select class="custom-select" name="new_subject_division" id="new_subject_division">';
                    var i;
                    for(i=1;i<=3;++i){
                        if(i == value){
                            div_select += '<option value="'+i.toString()+'" selected>'+i.toString()+'</option>';
                        }
                        else {
                            div_select += '<option value="'+i.toString()+'">'+i.toString()+'</option>';
                        }
                    }
                    div_select += '</select>';
                    $(this).html(div_select);
                }
                else if($(this).attr('col_name') == "teaching_faculties") {
                    var spans = $(this).find('.faculty');
                    var faculty_id = {};

                    // creating object for displaying in modal
                    spans.each(function (ind, val) {
                        faculty_id[$(this).attr('fac_id')] = true;
                    });

                    var select = '<div style="overflow: inherit;"><select class="selectpicker form-control" id="new_teaching_faculties" name="new_teaching_faculties" multiple data-live-search="true" data-selected-text-format="count > 1" data-container="body" title="Select Teaching Faculty" style="width: inherit;">';
                    {% for d in dept_faculties %}
                        select += '<optgroup label="{{ d.name }}">';
                        {% for f in d.faculties %}
                            var fac_id = '{{ f.id }}';
                            if(faculty_id[fac_id]) {
                                select += '<option value="{{ f.id }}" selected>{{ f.name }}</option>';
                            }
                            else {
                                select += '<option value="{{ f.id }}">{{ f.name }}</option>';
                            }
                        {% endfor %}
                        select += '</optgroup>';
                    {% endfor %}
                    select += '</div></select>';
                    $(this).html(select);
                    $('select.selectpicker').selectpicker();
                }
            });
        });

        //click event for cancel button.
        $(document).on('click', '.btn_subject_cancel', function (event) {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');
            tbl_row.find('.btn_subject_edit').show();
            tbl_row.find('.btn_subject_remove').show();
            tbl_row.find('.btn_subject_save').hide();
            tbl_row.find('.btn_subject_cancel').hide();
            var row_id = tbl_row.attr('row_id');
            tbl_row.find('.subject_data').each(function (index, val) {
                $(this).html($(this).attr('original_entry'));
            });
        });
        // click event for save button
        $(document).on('click', '.btn_subject_save', function (event) {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');
            var subject_id = tbl_row.attr('row_id');
            var new_subject_name = tbl_row.find('[name=new_subject_name]').val();
            var new_subject_code = tbl_row.find('[name=new_subject_code]').val();
            var new_subject_sem = tbl_row.find('[name=new_subject_sem]').val();
            var new_subject_division = tbl_row.find('[name=new_subject_division]').val();
            var new_teaching_faculties_id = tbl_row.find('[name=new_teaching_faculties]').val();

            //Ajax request
            swal({
                title: "Are you sure?",
                text: "Changes will be reflected.",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function () {
                $.ajax({
                    type:"GET",
                    url:"{{ base_url }}" + "modify-subjects/",
                    data: {
                        subject_id:subject_id,
                        new_subject_name: new_subject_name,
                        new_subject_code: new_subject_code,
                        new_subject_sem: new_subject_sem,
                        new_subject_division: new_subject_division,
                        new_teaching_faculties: new_teaching_faculties_id,
                        type: 'update'
                    },

                    success: function (msg) {
                        var response = JSON.parse(msg);
                        swal({
                            title: "Changes saved successfully!",
                            text: response['subject'] + " has been updated successfully.",
                            type: "success",
                        });
                        //Writing new values
                        tbl_row.find('.subject_data').each(function (index, value) {
                            if($(this).attr('col_name') == 'subject_name') {
                                $(this).html(new_subject_name);
                            }
                            else if($(this).attr('col_name') == 'subject_code') {
                                $(this).html(new_subject_code);
                            }
                            else if($(this).attr('col_name') == 'subject_sem') {
                                $(this).html(new_subject_sem);
                            }
                            else if($(this).attr('col_name') == 'subject_division') {
                                $(this).html(new_subject_division);
                            }
                            else if($(this).attr('col_name') == 'teaching_faculties') {
                                var faculty_id = new_teaching_faculties_id;
                                var html = '';
                                var len = faculty_id.length;
                                for(var i=0;i<len;++i) {
                                    html += '<span class="faculty" fac_id="'+ faculty_json[parseInt(faculty_id[i])]['id'] +'" fac_email="'+ faculty_json[parseInt(faculty_id[i])]['email'] +'">';
                                    html += faculty_json[parseInt(faculty_id[i])]['name'] + '(' + faculty_json[parseInt(faculty_id[i])]['dept_accronym'] + ')';
                                    html += '</span><br />';
                                }
                                $(this).html(html);
                            }
                        });

                        //buttons
                        tbl_row.find('.btn_subject_edit').show();
                        tbl_row.find('.btn_subject_remove').show();
                        tbl_row.find('.btn_subject_save').hide();
                        tbl_row.find('.btn_subject_cancel').hide();
                    },
                    error: function (msg) {
                        var response = JSON.parse(msg.responseText);
                        swal({
                            title: "Error!",
                            text: response['error'],
                            type: "error",
                        });
                        // Re-assigning old values
                        tbl_row.find('.subject_data').each(function (index, value) {
                            $(this).html($(this).attr('original_entry'));
                        });

                        //buttons
                        tbl_row.find('.btn_subject_edit').show();
                        tbl_row.find('.btn_subject_remove').show();
                        tbl_row.find('.btn_subject_save').hide();
                        tbl_row.find('.btn_subject_cancel').hide();
                    },
                });
            });
        });

        // click event for remove button
        $(document).on('click', '.btn_subject_remove', function (event) {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');
            var subject_id = tbl_row.attr('row_id');
            var sub_name = tbl_row.find('#subject_name').html().toString().trim();
            swal({
                    title: "Are you sure?",
                    text: sub_name + " will be deleted.",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function () {
                    $.ajax({
                        type:"GET",
                        url:"{{ base_url }}" + "modify-subjects/",
                        data: {
                            subject_id: subject_id,
                            type: 'delete'
                        },

                        success: function (msg) {
                            var response = JSON.parse(msg);
                            swal({
                                title: "Subject Deleted!",
                                text: response['subject'] + " has been removed successfully.",
                                type: "success",
                            });
                            tbl_row.remove();
                        },
                        error: function (msg) {
                            var response = JSON.parse(msg.responseText);
                            swal({
                                title: "Error!",
                                text: response['error'],
                                type: "error",
                            });
                        },
                    });
                });
        });
    </script>
    <!-- Javascripts for Subjects > End -->

    <!-- Javascript for faculty -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.btn_remove', function (event) {
                event.preventDefault();
                var tbl_row = $(this).closest('tr');
                var row_id = tbl_row.attr('row_id');
                swal({
                    title: "Are you sure?",
                    text: tbl_row.find('#name').html().trimRight() + " Will be removed from your department.",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function () {
                    $.ajax({
                        type:"GET",
                        url:"{{ base_url }}"+"remove-faculty/",
                        data:{
                            fac_id:row_id,
                        },

                        success: function (msg) {
                            var response = JSON.parse(msg);
                            swal({
                                title: "Removed successfully!",
                                text: response['removed_fac_name'] + " has been removed successfully.",
                                type: "success",
                            });
                            tbl_row.remove();
                        },
                        error: function (msg) {
                            var response = JSON.parse(msg.responseText);
                            swal({
                                title: "Error!",
                                text: response['error'],
                                type: "error",
                            });
                        },
                    });
                });
            });
        });
    </script>
{% endblock custom_js %}
<!-- Custom JS Block > End -->