{% extends 'Base/base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
    HOD Dashboard
{% endblock title %}
<!-- Title block > End -->

<!-- Extra CSS Block > Start -->
{% block extra_css %}
{% endblock extra_css %}
<!-- Extra CSS Block > End -->

<!-- Logo Block > Start -->
{% block logo %}
    <a class="mobile-menu" id="mobile-collapse" href="javascript:void(0)">
        <i class="feather icon-menu"></i>
    </a>
    <a href="{% url 'hod_dashboard' %}">
        <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System" style="max-width:92%;">
    </a>
{% endblock logo %}
<!-- Logo Block > End -->

<!-- Navbar Right menus block > Start -->
{% block nav_right %}
    <ul class="nav-right">
        <li class="user-profile header-notification">
            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span>{{ name }}</span>
                    <i class="feather icon-chevron-down"></i>
                </div>
                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        <a href="{% url 'hod_profile' %}">
                            <i class="feather icon-user"></i> Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="feather icon-log-out"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock nav_right %}
<!-- Navbar Right menus block > End -->

<!-- Side Navigation bar Block > Start -->
{% block side_bar %}
    <nav class="pcoded-navbar">
        <div class="pcoded-inner-navbar main-menu">
            <div class="pcoded-navigatio-lavel">Quick Links</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="{% url 'hod_profile' %}">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">My Profile</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'hod_manage_department' %}">
                        <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                        <span class="pcoded-mtext">Manage Department</span>
                    </a>
                </li>
{#                <li class="">#}
{#                    <a href="{% url 'hod_assigned_subjects' %}">#}
{#                        <span class="pcoded-micon"><i class="feather icon-book"></i></span>#}
{#                        <span class="pcoded-mtext">Assigned Subjects</span>#}
{#                    </a>#}
{#                </li>#}
                <ul class="pcoded-item pcoded-left-item">
                    <li class="pcoded-hasmenu">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>
                            <span class="pcoded-mtext">Feedback Section</span>
                        </a>
                        <ul class="pcoded-submenu">
                            <li class=" ">
                                <a href="{% url 'hod_feedback_section' dept_id=dept_id type='mid' %}">
                                    <span class="pcoded-mtext">Mid Semester Feedback</span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="{% url 'hod_feedback_section' dept_id=dept_id type='end' %}">
                                    <span class="pcoded-mtext">End Semester Feedback</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
{#                <ul class="pcoded-item pcoded-left-item">#}
{#                    <li class="pcoded-hasmenu">#}
{#                        <a href="javascript:void(0)">#}
{#                            <span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>#}
{#                            <span class="pcoded-mtext">View Average Feedback</span>#}
{#                        </a>#}
{#                        <ul class="pcoded-submenu">#}
{#                            <li class=" ">#}
{#                                <a href="{% url 'hod_view_average_feedback' type='mid' %}">#}
{#                                    <span class="pcoded-mtext">Mid Semester</span>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class=" ">#}
{#                                <a href="{% url 'hod_view_average_feedback' type='end' %}">#}
{#                                    <span class="pcoded-mtext">End Semester</span>#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                </ul>#}
                <li class="">
                    <a href="{% url 'hod_manage_news' %}">
                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                        <span class="pcoded-mtext">
                            Manage News
                        </span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'logout' %}">
                        <span class="pcoded-micon"><i class="feather icon-log-out"></i></span>
                        <span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock side_bar %}
<!-- Side Navigation bar Block > End -->

<!-- Main body block > Start -->
{# everything in this tag - <div class="main-body"> #}
{% block main_body %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-header" style="margin-bottom: 10px;">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">
                                        <h3>Committees</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">
                                {% if no_committee_to_handle == False %}
                                    <div class="page-header" style="margin-bottom: 10px;">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h6 style="font-weight: 600;">You are chairperson of this committees.</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% for i in handle_committees %}
                                            <div class="col-xl-4 col-md-6">
                                                <a href="{% url 'chaiperson_dashboard' com_id=i.id %}">
                                                    <script type="text/javascript">
                                                        var bg_color = ['bg-simple-c-green', 'bg-c-blue', 'bg-c-pink'];
                                                        var text_color = ['text-c-green', 'text-c-blue', 'text-c-pink'];
                                                        var index = parseInt('{{ forloop.counter }}') % 3;
                                                        var html = '';
                                                        html += '<div class="card social-card '+ bg_color[index] +'">';
                                                        html += '<div class="card-block">';
                                                        html += '<div class="row align-items-center">';
                                                        html += '<div class="col-auto">';
                                                        html += '<i class="feather icon-users f-34 '+ text_color[index] +' social-icon"></i>';
                                                        html += '</div>';
                                                        html += '<div class="col p-l-0">';
                                                        html += '<h4>{{ i.name }}</h4>';
                                                        html += '<p style="font-size: 12pt;"><i class="icofont icofont-king-crown"></i> {{ i.chairperson }}</p>';
                                                        html += '<p style="font-size: 12pt;"><i class="icofont icofont-users-alt-5"></i> Total Members : {{ i.members }}</p>';
                                                        html += '</div>';
                                                        html += '</div>';
                                                        html += '</div>';
                                                        html += '</div>';
                                                        document.write(html);
                                                    </script>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            You are not assigned as chairperson of any committee.
                                        </div>
                                    </div>
                                {% endif %}

                                {% if not_part_of_any_committee == False %}
                                    <div class="page-header" style="margin-bottom: 10px;">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h6 style="font-weight: 600;">You are Member of this committees.</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% for i in committees %}
                                            <div class="col-xl-4 col-md-6">
                                                <a href="{% url 'member_dashboard' com_id=i.id %}">
                                                    <script type="text/javascript">
                                                        var bg_color = ['bg-simple-c-green', 'bg-c-blue', 'bg-c-pink'];
                                                        var text_color = ['text-c-green', 'text-c-blue', 'text-c-pink'];
                                                        var index = parseInt('{{ forloop.counter }}') % 3;
                                                        var html = '';
                                                        html += '<div class="card social-card '+ bg_color[index] +'">';
                                                        html += '<div class="card-block">';
                                                        html += '<div class="row align-items-center">';
                                                        html += '<div class="col-auto">';
                                                        html += '<i class="feather icon-users f-34 '+ text_color[index] +' social-icon"></i>';
                                                        html += '</div>';
                                                        html += '<div class="col p-l-0">';
                                                        html += '<h4>{{ i.name }}</h4>';
                                                        html += '<p style="font-size: 12pt;"><i class="icofont icofont-king-crown"></i> {{ i.chairperson }}</p>';
                                                        html += '<p style="font-size: 12pt;"><i class="icofont icofont-users-alt-5"></i> Total Members : {{ i.members }}</p>';
                                                        html += '</div>';
                                                        html += '</div>';
                                                        html += '</div>';
                                                        html += '</div>';
                                                        document.write(html);
                                                    </script>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            You are not Member of any committee.
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Recent News -->
                            <div class="col-sm-12">
                                <div class="page-header" style="margin-bottom: 10px;">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h3>Recent News</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- List view card start -->
                                <div class="card">
                                    <div class="row card-block">
                                        <div class="col-md-12">
                                            <ul class="list-view">
                                                {% if news %}
                                                    <!-- Repeat from here -->
                                                    {% for n in news %}
                                                        <li class="m-b-20" style="border-bottom: solid #353c4e; border-bottom-width: thin;">
                                                            <div class="col-xs-12">
                                                                <h5 class="d-inline-block m-b-10">
                                                                    <strong>{{ n.news_subject }}</strong>
                                                                </h5>
                                                            </div>
                                                            <textarea class="m-b-0 form-control" rows="3" style="background-color: white;" readonly>{{ n.news_details }}</textarea>
                                                            <div class="f-13 text-muted">
                                                                {{ n.timestamp }}
                                                                <br />
                                                                By, {{ n.issuing_faculty.name }}
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                    <!-- Repeat News Section ends here -->
                                                {% else %}
                                                    No News Published in your department yet.
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- List view card end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_body %}
<!-- Main body block > End -->

<!-- Extra JS Block > Start -->
{% block extra_js %}
{% endblock extra_js %}
<!-- Extra JS Block > End -->

<!-- Custom JS Block > Start -->
{% block custom_js %}
{% endblock custom_js %}
<!-- Custom JS Block > End -->