{% extends 'Base/base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
    Subjectwise - {{ fb_type|capfirst }} Semester Feedback
{% endblock title %}
<!-- Title block > End -->

<!-- Extra CSS Block > Start -->
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/font-awesome/css/font-awesome.min.css' %}">
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/pages/data-table/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">
{% endblock extra_css %}
<!-- Extra CSS Block > End -->

<!-- Custom CSS Block > Start -->
{% block custom_css %}
{% endblock custom_css %}
<!-- Custom CSS Block > End -->

<!-- Modals Block > Start -->
{% block modals %}
{% endblock modals %}
<!-- Modals Block > End -->

<!-- Logo Block > Start -->
{% block logo %}
    {% ifequal User_Role "HOD" %}
        <a href="{% url 'hod_dashboard' %}">
            <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
        </a>
    {% endifequal %}

    {% ifequal User_Role "Principal" %}
        <a href="{% url 'principal_dashboard' %}">
            <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
        </a>
    {% endifequal %}
{% endblock logo %}
<!-- Logo Block > End -->

<!-- Navbar Right menus block > Start -->
{# everything inside <ul class="nav-right"> #}
{% block nav_right %}
    <ul class="nav-right">
        <li class="user-profile header-notification">
            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span>{{ name }}</span>
                    <i class="feather icon-chevron-down"></i>
                </div>
                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        {% ifequal User_Role "HOD" %}
                            <a href="{% url 'hod_profile' %}">
                                <i class="feather icon-user"></i> Profile
                            </a>
                        {% endifequal %}

                        {% ifequal User_Role "Principal" %}
                            <a href="{% url 'principal_profile' %}">
                                <i class="feather icon-user"></i> Profile
                            </a>
                        {% endifequal %}
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="feather icon-log-out"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock nav_right %}
<!-- Navbar Right menus block > End -->

<!-- Side Navigation bar Block > Start -->
{% block side_bar %}
{% endblock side_bar %}
<!-- Side Navigation bar Block > End -->


<!-- Main body block > Start -->
{# for dashboard, everything in this tag - <div class="pcoded-content"> #}
{# for others everything in this tag - <div class="pcoded-inner-content"> #}
{% block main_body %}
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                 <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h3>{{ dept_name }} Department</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h3>Subjectwise {{ fb_type|capfirst }} Semester Feedback</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 d-flex justify-content-end m-t-20">
                            <a class="btn btn-round btn-outline-primary" href="{{ request.META.HTTP_REFERER }}">
                                <i class="feather icon-arrow-left"></i>
                                Back
                            </a>
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    <div class="row">
                       <div class="col-sm-12" id="div1">
                           <div class="card">
                               <div class="card-block">
                                    <div id="subject-table">
                                        <div class="d-flex justify-content-center" style="font-size: 14pt;">List of all the subject of your department.</div>
                                        <div class="dt-responsive table-responsive">
                                            <table id="simpletable" class="table table-hover nowrap">
                                                <thead>
                                                <tr>
                                                    <th class="text-center" scope="col">Subject Name</th>
                                                    <th class="text-center" scope="col">Subject Code</th>
                                                    <th class="text-center" scope="col">Division</th>
                                                    <th class="text-center" scope="col">Semester</th>
                                                    <th class="text-center" scope="col">View Feedback</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for s in subjects %}
                                                    <tr>
                                                        <td class="text-center" style="vertical-align: middle;">{{ s.subject_name }}</td>
                                                        <td class="text-center" style="vertical-align: middle;">{{ s.subject_code }}</td>
                                                        <td class="text-center" style="vertical-align: middle;">Division {{ s.div }}</td>
                                                        <td class="text-center" style="vertical-align: middle;">{{ s.semester }}</td>
                                                        <td class="text-center">
                                                            <div class="btn-group btn-group-sm">
                                                                <button type="button" class="btn_view btn btn-outline-info waves-effect waves-light" subject_id="{{ s.id }}" style="float: none;margin: 5px;">
                                                                    View Feedback
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                   <div class="loader-block" style="display: none">
                                       <svg id="loader2" viewBox="0 0 100 100">
                                           <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                                        </svg>
                                   </div>
                                   <div id="content" style="display: none;">
                                       <div class="row m-t-20 m-b-20">
                                           <div class="col-sm-12 d-flex justify-content-end">
                                               <a href="javascript:void(0)" id="change_subject" style="color: dodgerblue; font-size: inherit">Change Subject</a>
                                           </div>
                                           <div class="col-sm-6">
                                               Updated On: <b><span id="feedback-date"></span></b>
                                           </div>
                                           <div class="col-sm-6 d-flex justify-content-end">
                                               You can see all the question &nbsp; <a href="#questions_list" style="color: dodgerblue; font-size: inherit">here.</a>
                                           </div>
                                       </div>
                                       <canvas id="myChart"></canvas>
                                   </div>
                               </div>
                           </div>
                       </div>
                        <div class="col-sm-3" id="div2" style="display: none">
                            <div class="card">
                                <div class="card-header p-b-0 d-flex justify-content-center">
                                    <h5>Feedback count per Faculty</h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group" id="subject_list_group">
                                    </ul>
                                </div>
                            </div>
                        </div>
                   </div>
                    <div class="row" id="questions-div" style="display: none;">
                        <div class="col-sm-12">
                            <div class="card" id="questions_list">
                                <div class="card-header">
                                    <h4 style="font-size: 20px">Questions List</h4>
                                </div>
                                <div class="card-block">
                                    <ul>
                                        {% for q in questions %}
                                            <li><b>Question : {{ forloop.counter }}</b> - {{ q.question_text }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_body %}
<!-- Main body block > End -->

<!-- Extra JS Block > Start -->
{% block extra_js %}
    <script src="{% static 'assets/sweetalert/sweetalert2@9.js' %}"></script>
    <!-- data-table js -->
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Chart js -->
    <script type="text/javascript" src="{% static 'assets/extra-js/Chart/Chart.js_2.9.3.js' %}"></script>
{% endblock extra_js %}
<!-- Extra JS Block > End -->

<!-- Custom JS Block > Start -->
{% block custom_js %}
    <script type="text/javascript">
        //Enabling Datatable
        $('#simpletable').DataTable();
        var year_option = {};
        var start_year = 2020;
        var current_year = new Date().getFullYear();
        for(var i=start_year;i<=current_year;++i) {
            year_option[i] = i;
        }
        console.log(year_option);

        //button click event
        $('button.btn_view').on('click', async function (event) {
            event.preventDefault();
            var sub_id = parseInt($(this).attr('subject_id'));
            const { value: year } = await Swal.fire({
                title: 'Select Year',
                input: 'select',
                inputOptions: year_option,
                inputPlaceholder: 'Select Year',
                showCancelButton: true,
                allowOutsideClick: false,
                inputValidator: (value) => {
                    return new Promise((resolve) => {
                        if (value === '') {
                            resolve('You need to select year :)')
                        }
                        else {
                            resolve()
                        }
                    })
                }
            })
            var yr = parseInt(year);
            if(!isNaN(yr)) {
                load_graph(sub_id, yr);
            }
        });

        $('a#change_subject').on('click', function (event) {
            event.preventDefault();
            $(document).find('div#content').hide();
            $('div#subject-table').show();
            $('div#questions-div').hide();
            var div1 = $(document).find('div#div1');
            var div2 = $(document).find('div#div2');
            div1.addClass('col-sm-12');
            div1.removeClass('col-sm-9');
            div2.hide();
        });

    </script>

    <!-- Javascript for Graph -->
    <script type="text/javascript">
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };
        var colorNames = Object.keys(window.chartColors);
        var question_label = [];
        {% for q in questions %}
            question_label.push('Question : ' + '{{ forloop.counter }}');
        {% endfor %}
        var color = Chart.helpers.color;
		var barChartData = {
			labels: question_label,
			datasets : []
            /* datasets: [{
				label: 'Dataset 1',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: [50, 75, 25, 90, 52, 20, 10]
			}, {
				label: 'Dataset 2',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				borderWidth: 1,
				data: [10, 15, 20, 25, 35, 45, 50]
			}] */

		};
        window.onload = function() {
			var ctx = document.getElementById('myChart').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
				    scales: {
				        yAxes: [{
				            ticks: {
				                beginAtZero: true,
                                max: 5.0
                            }
                        }]
                    },
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Chart.js Bar Chart'
					}
				}
			});
		};

        function update_graph(rating_list, sub_name) {
            var len = rating_list.length;
            barChartData.datasets = [];
            for(var i=0;i<len;i++) {
                var colorName = colorNames[barChartData.datasets.length % colorNames.length];
			    var dsColor = window.chartColors[colorName];
			    var question_length = question_label.length;
			    var data = [];
			    for(var j=0;j<question_length; j++) {
			        var ind = 'Q'+(j+1);
			        data.push(rating_list[i][ind]);
                }
                var newdataset = {
                    label: rating_list[i]['faculty_name'] + '(' + rating_list[i]['faculty_dept'] + ')',
                    backgroundColor: color(dsColor).alpha(0.5).rgbString(),
                    borderColor: dsColor,
                    borderWidth: 1,
                    data: data
                }
			    //adding new dataset of subject into barchart datasets.
			    barChartData.datasets.push(newdataset);
            }

            //Updating barchart.
            myBar.options.title.text = "{{ fb_type|capfirst }} Semester Average Feedback for " + sub_name;
            window.myBar.update();
            $('[data-toggle="popover"]').popover();
        }

        function load_graph(sub_id, year) {
            $(document).find('div.loader-block').show();
            $('div#subject-table').hide();

            $.ajax({
                type: "GET",
                url: "{% url 'get_subjectwise_average_feedback' %}",
                data: {
                    type: '{{ fb_type }}',
                    sub_id: sub_id,
                    year: year
                },

                success: function (msg) {
                    $(document).find('div.loader-block').hide();
                    $(document).find('div#content').show();
                    $('div#questions-div').show();
                    var response = JSON.parse(msg);
                    console.log(response);
                    var faculty_len = response['ratings'].length;

                    //Displaying subject list
                    var div1 = $(document).find('div#div1');
                    var div2 = $(document).find('div#div2');
                    div1.removeClass('col-sm-12');
                    div1.addClass('col-sm-9');
                    var list_group = div2.find('ul#subject_list_group');
                    var subject_lis = '';
                    for(var i=0;i<faculty_len;++i) {
                        subject_lis += '<li class="list-group-item d-flex justify-content-between align-items-center" data-toggle="popover" data-placement="left" title="Feedback Count" data-content="Total number of feedback received in perticular year.">';
                            subject_lis += response['ratings'][i]['faculty_name'] + '(' + response['ratings'][i]['faculty_dept'] + ')';
                            subject_lis += '<span class="badge badge-primary badge-pill">';
                                subject_lis += response['ratings'][i]['count'];
                            subject_lis += '</span>';
                        subject_lis += '</li>';
                    }
                    list_group.html(subject_lis);
                    div2.show();
                    $(document).find('span#feedback-date').html(response['date']);
                    var sub_name = response['subject_name'] + " (" + response['subject_code'] + ") - Division - " + response['subject_div'];
                    update_graph(response['ratings'], sub_name);

                },
                error: function (msg) {
                    var response = JSON.parse(msg.responseText);
                    swal({
                        title: "Error!",
                        text: response['error'],
                        type: "error",
                    });
                    $(document).find('div.loader-block').hide();
                    $(document).find('div#content').hide();
                    $('div#subject-table').show();
                    $('div#questions-div').hide();
                },
            });
        }
    </script>
{% endblock custom_js %}
<!-- Custom JS Block > End -->