{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>View Average Feedback</title>
    <!-- Meta -->
    <meta name="author" content="Jasmin Makwana(160210107030), Kinjal Doshi(160210107011), Jinesh Kamdar(160210107024), Vishwa Rajput(160210107047)">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/css/bootstrap.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- Switch component css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/switchery/css/switchery.min.css' %}">
    <!-- Tags css -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-tagsinput/css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/feather/css/feather.css' %}">
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert/css/sweetalert.css' %}">

    <!-- Style.css -->
{#    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom_css/bg.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom_css/custom_style.css' %}">
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Download Report modal > Start -->
    <div class="modal fade" id="download-report-modal" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Download Report</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'principal_download_average_report' %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="type" style="font-weight: 900;">Select Type of Feedback : </label>
                            <div class="col-sm-8">
                                <select class="custom-select" name="type" id="type" style="width: 100%" required>
                                    <option value="-1" selected disabled>Select Type</option>
                                    <option value="0">Mid Semester Feedback</option>
                                    <option value="1">End Semester Feedback</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="term" style="font-weight: 900;">Term : </label>
                            <div class="col-sm-4">
                                <select class="custom-select" name="term" id="term" style="width: 100%" required>
                                    <option value="-1" selected disabled>Select Term</option>
                                    <option value="0">Odd</option>
                                    <option value="1">Even</option>
                                </select>
                            </div>

                            <label class="col-sm-2 col-form-label" for="year" style="font-weight: 900;">Year : </label>
                            <div class="col-sm-4">
                                <select class="custom-select" name="year" id="year" style="width: 100%" required>
                                    <option value="-1" selected disabled>Select Year</option>
                                    <script type="text/javascript">
                                        var start_year = 2020;
                                        var current_year = new Date().getFullYear();
                                        for(var i=start_year;i<=current_year;++i) {
                                            document.write('<option value="'+ i +'">'+ i +'</option>');
                                        }
                                    </script>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="faculty" style="font-weight: 900;">Faculty : </label>
                            <div class="col-sm-10">
                                <select class="custom-select" name="faculty" id="faculty" style="width: 100%" required>
                                   <option value="-1" selected disabled>Select Faculty</option>
                               {% for f in dept_faculties %}
                                   <option value="{{ f.id }}">{{ f.name }}</option>
                               {% endfor %}
                               </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="all_subject" style="font-weight: 900;">Download for all subjects : </label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="all_subject" id="all_subject" class="js-single" checked>
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" id="button1" class="btn btn-outline-primary">
                                    <i class="feather icon-check"></i>  Download
                                </button>
                            </div>
                        </div>
                        <div id="subject_list" style="display: none;">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="subject" style="font-weight: 900;">Subject : </label>
                                <div class="col-sm-4">
                                    <select name="subject" id="subject" class="custom-select" style="width: 100%">
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" id="button2" class="btn btn-outline-primary">
                                        <i class="feather icon-check"></i>  Download
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Download Report modal > End -->

    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a href="index-1.htm">
                            <img class="img-fluid" src="{% static 'assets/images/logo_sss3.png' %}" alt="Theme-Logo">
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">

                    <ul class="nav-right">

                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <span>{{ name }}</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="#">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="feather icon-log-out"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                             <div class="page-header">
                                <div class="row align-items-end">
                                    <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center">
                                        <div class="page-header-title">
                                            <div class="d-inline">
                                                <h3>{{ dept_name }} Department</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center">
                                        <div class="page-header-title">
                                            <div class="d-inline">
                                                <h3>Average Feedback</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 m-t-20">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#download-report-modal">Download Report</button>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <span class="f-right">
                                            <a href="{% url 'principal_dashboard' %}" class="btn" style="font-size: 15px">
                                                <i class="feather icon-arrow-left"></i>
                                                Back to Dashboard
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="page-body">
                                <div class="row">
                                   <div class="col-sm-12" id="div1">
                                       <div class="card">
                                           <div class="card-block">
                                               <div class="form-group row">
                                                   <label class="col-md-2 col-lg-2 col-form-label" for="view_feedback_type" style="font-weight: 900;">Type of feedback : </label>
                                                   <div class="col-md-2 col-lg-2">
                                                       <select class="custom-select" id="view_feedback_type" style="width: 100%" name="view_feedback_type">
                                                           <option value="-1" selected disabled>Type</option>
                                                           <option value="0">Mid Semester Feedback</option>
                                                           <option value="1">End Semester Feedback</option>
                                                       </select>
                                                       <div id="Error_view_feedback_type" style="color: red"></div>
                                                   </div>
                                                        <label for="view_feedback_term" class="col-md-2 col-lg-2 col-form-label" style="font-weight: 900;">Select Term :</label>
                                                        <div class="col-md-2 col-lg-2">
                                                            <select class="custom-select" name="view_feedback_term" id="view_feedback_term" style="width: 100%">
                                                                <option value="0">Odd</option>
                                                                <option value="1">Even</option>
                                                            </select>
                                                        </div>
                                                        <label for="view_feedback_year" class="col-md-2 col-lg-2 col-form-label" style="font-weight: 900;">Select Year:</label>
                                                        <div class="col-md-2 col-lg-2">
                                                            <select class="custom-select" name="view_feedback_year" id="view_feedback_year" style="width: 100%;">
                                                                <script type="text/javascript">
                                                                    var start_year = 2020;
                                                                    var current_year = new Date().getFullYear();
                                                                    for(var i=start_year;i<=current_year;++i) {
                                                                        document.write('<option value="'+ i +'">'+ i +'</option>');
                                                                    }
                                                                </script>
                                                            </select>
                                                        </div>
                                                    </div>
                                                   <div class="form-group row">
                                                       <label for="view_feedback_faculty" class="col-md-2 col-lg-2 col-form-label" style="font-weight: 900;">Select Faculty :</label>
                                                       <div class="col-md-6 col-lg-6">
                                                           <select class="custom-select" name="view_feedback_faculty" id="view_feedback_faculty" style="width: 100%">
                                                               <option value="-1" selected disabled>Select Faculty to view feedback</option>
                                                           {% for f in dept_faculties %}
                                                               <option value="{{ f.id }}">{{ f.name }}</option>
                                                           {% endfor %}
                                                           </select>
                                                       </div>
                                                       <div class="col-md-4 col-lg-4">
                                                           <button type="button" class="btn btn-outline-primary" onclick="load_graph()">View Feedback</button>
                                                       </div>
                                                   </div>
                                               <div class="loader-block" style="display: none">
                                                   <svg id="loader2" viewBox="0 0 100 100">
                                                       <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                                                    </svg>
                                               </div>
                                               <div id="content" style="display: none;">
                                                   <div class="row m-t-20 m-b-20">
                                                       <div class="col-sm-6">
                                                           Updated On: <b><span id="feedback-date"></span></b>
                                                       </div>
                                                       <div class="col-sm-6 d-flex justify-content-end">
                                                           You can see all the question &nbsp; <a href="#questions_list_href" style="color: dodgerblue; font-size: inherit">here.</a>
                                                       </div>
                                                   </div>
                                                   <canvas id="myChart"></canvas>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                    <div class="col-sm-3" id="div2" style="display: none">
                                        <div class="card">
                                            <div class="card-header p-b-0 d-flex justify-content-center">
                                                <h5>Feedback count per subject</h5>
                                            </div>
                                            <div class="card-body">
                                                <ul class="list-group" id="subject_list_group">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                                <div class="row" id="questions_list" style="display: none;">
                                    <div class="col-sm-12">
                                        <div class="card" id="questions_list_href">
                                            <div class="card-header">
                                                <h4 style="font-size: 20px">Questions List</h4>
                                            </div>
                                            <div class="card-block">
                                                <ul id="questions">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{%static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/css-scrollbars.js' %}"></script>
    <!-- Switch component js -->
    <script type="text/javascript" src="{% static 'bower_components/switchery/js/switchery.min.js' %}"></script>

    <!-- sweet alert js -->
    <script type="text/javascript" src="{% static 'bower_components/sweetalert/js/sweetalert.min.js' %}"></script>

    <!-- Chart js -->
    <script type="text/javascript" src="{% static 'assets/extra-js/Chart/Chart.js_2.9.3.js' %}"></script>

    <!-- custom js -->
    <script src="{% static 'assets/js/vartical-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <script type="text/javascript">
        var questions_list = JSON.parse('{{ question_list|safe }}');
        console.log(questions_list);
        var fb_type;
        var question_label;
        $(document).on('change', 'select#view_feedback_type', function (event) {
            event.preventDefault();
            var type = $(this).val();
            var ul_tag = $(document).find('#questions');
            if(type == "0") {
                fb_type = "mid";
                var html = '';
                ul_tag.html();
                question_label = [];
                $.each(questions_list['mid'], function (index, value) {
                    html += '<li><b>Question : '+ (index + 1) +'</b> - '+ value["question_text"] +'</li>';
                    question_label.push('Question : ' + (index + 1));
                });
                ul_tag.html(html);
            }
            else {
                fb_type = "end";
                var html = '';
                ul_tag.html();
                question_label = [];
                $.each(questions_list['end'], function (index, value) {
                    html += '<li><b>Question : '+ index +'</b> - '+ value["question_text"] +'</li>';
                    question_label.push('Question : ' + value["question_text"]);
                });
                ul_tag.html(html);
            }
        });

    </script>

    <script type="text/javascript">
        var subjects_dict = JSON.parse('{{ fac_subjects|safe }}');
        console.log(subjects_dict);

        // for switch
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();

            // Single swithces
            var subject_switch = document.querySelector('.js-single');
            var switchery = new Switchery(subject_switch, { color: '#4680ff', jackColor: '#fff' });

            subject_switch.onchange = function () {
                var btn1 = $(document).find('button#button1');
                var btn2 = $(document).find('button#button2');
                var div = $(document).find('div#subject_list');
                if(subject_switch.checked){
                    div.hide();
                    btn2.attr('type', 'button');
                    btn1.show();
                    $(document).find('select#subject').removeAttr('required');
                    btn1.attr('type', 'submit');

                    //clearing out subjects list
                    $(document).find('select#subject').html();
                }
                else {
                    div.show();
                    btn2.attr('type', 'submit');
                    $(document).find('select#subject').attr('required', 'true');
                    btn1.hide();
                    btn1.attr('type', 'button');

                    // making subjects list
                }
            }

            var faculty_select = document.querySelector('#faculty');
            faculty_select.onchange = function () {
                update_subject();
            }

            var term_select = document.querySelector('#term');
            term_select.onchange = function () {
                update_subject();
            }
        });

        function update_subject() {
            var fac_id = $(document).find('select#faculty option:selected').val();
            var term = $(document).find('select#term option:selected').val();
            if(term == "-1") {
                alert("Select Term");
            }
            else {
                var sub_html = '<option value="-1" selected disabled>Select Subject</option>';
                if(term == "0") {
                    $.each(subjects_dict[fac_id], function (index, value) {
                        if(value['subject_semester'] % 2) {
                            sub_html += '<option value="'+ value['subject_id'] +'">'+ value['subject_name'] + ' (' + value['subject_code'] + ')' + '</option>';
                        }
                    });
                }
                else {
                    $.each(subjects_dict[fac_id], function (index, value) {
                        if(!(value['subject_semester'] % 2)) {
                            sub_html += '<option value="'+ value['subject_id'] +'">'+ value['subject_name'] + ' (' + value['subject_code'] + ')' + '</option>';
                        }
                    });
                }
                $(document).find('select#subject').html(sub_html);
            }
        }
    </script>

    <!-- Javascript for Graph -->
    <script type="text/javascript">
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };
        var colorNames = Object.keys(window.chartColors);
        var color = Chart.helpers.color;
		var barChartData = {
			labels: question_label,
			datasets : []
            /* datasets: [{
				label: 'Dataset 1',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: [50, 75, 25, 90, 52, 20, 10]
			}, {
				label: 'Dataset 2',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				borderWidth: 1,
				data: [10, 15, 20, 25, 35, 45, 50]
			}] */

		};
        window.onload = function() {
			var ctx = document.getElementById('myChart').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
				    scales: {
				        yAxes: [{
				            ticks: {
				                beginAtZero: true,
                                max: 5.0
                            }
                        }]
                    },
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Chart.js Bar Chart'
					}
				}
			});
		};

        function update_graph(rating_list, fac_name) {
            var len = rating_list.length;
            barChartData.datasets = [];
            for(var i=0;i<len;i++) {
                var colorName = colorNames[barChartData.datasets.length % colorNames.length];
			    var dsColor = window.chartColors[colorName];
			    var question_length = question_label.length;
			    var data = [];
			    for(var j=0;j<question_length; j++) {
			        var ind = 'Q'+(j+1);
			        data.push(rating_list[i][ind]);
                }
                var newdataset = {
                    label: rating_list[i]['subject_name'],
                    backgroundColor: color(dsColor).alpha(0.5).rgbString(),
                    borderColor: dsColor,
                    borderWidth: 1,
                    data: data
                }
			    //adding new dataset of subject into barchart datasets.
			    barChartData.datasets.push(newdataset);
			    barChartData.labels = question_label;
            }

            //Updating barchart.
            myBar.options.title.text = "Average Feedback for " + fac_name;
            window.myBar.update();
        }

        function load_graph() {
            $(document).find('div.loader-block').css('display', 'block');
            var selected_faculty = $(document).find('select#view_feedback_faculty option:selected');
            var fac_id = selected_faculty.val();
            var fac_name = selected_faculty.text();
            var term = $(document).find('select#view_feedback_term option:selected').val();
            var year = $(document).find('select#view_feedback_year option:selected').val();
            if(fac_id == "-1") {
                $(document).find('div.loader-block').css('display', 'none');
                alert("Select Faculty to view feedback.");
                $(document).find('select#view_feedback_faculty').focus();
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "{{ base_url }}" + "get-average-feedback/",
                    data: {
                        type: fb_type,
                        fac_id: fac_id,
                        term: term,
                        year: year
                    },

                    success: function (msg) {
                        $(document).find('div.loader-block').hide();
                        $(document).find('div#content').show();
                        $(document).find('div#questions_list').show();
                        var response = JSON.parse(msg);
                        console.log(response);
                        var subject_len = response['ratings'].length;

                        //Displaying subject list
                        var div1 = $(document).find('div#div1');
                        var div2 = $(document).find('div#div2');
                        div1.removeClass('col-sm-12');
                        div1.addClass('col-sm-9');
                        var list_group = div2.find('ul#subject_list_group');
                        var subject_lis = '';
                        for(var i=0;i<subject_len;++i) {
                            subject_lis += '<li class="list-group-item d-flex justify-content-between align-items-center">';
                                subject_lis += response['ratings'][i]['subject_name'];
                                subject_lis += '<span class="badge badge-primary badge-pill" data-toggle="popover" data-placement="left" title="Feedback Count" data-content="Total number of feedback received in this subject in selected year.">';
                                    subject_lis += response['ratings'][i]['count'];
                                subject_lis += '</span>';
                            subject_lis += '</li>';
                        }
                        list_group.html(subject_lis);
                        div2.show();


                        if(subject_len == 0) {
                            $(document).find('div#content').hide();
                            $(document).find('div#questions_list').hide();
                            //Displaying subject list
                            var div1 = $(document).find('div#div1');
                            var div2 = $(document).find('div#div2');
                            div1.addClass('col-sm-12');
                            div1.removeClass('col-sm-9');
                            div2.hide();
                            window.myBar.clear();
                            swal({
                                title: "Feedback Not available.",
                                text: "May be the faculty you have chosen has not been assigned any subject to taught. Therefore no feedback can be shown.",
                                type: "error",
                            });
                        }
                        else {
                            $(document).find('span#feedback-date').html(response['date']);
                            update_graph(response['ratings'], fac_name);
                        }

                    },
                    error: function (msg) {
                        var response = JSON.parse(msg.responseText);
                        swal({
                            title: "Error!",
                            text: response['error'],
                            type: "error",
                        });
                        $(document).find('div.loader-block').hide();
                        $(document).find('div#content').hide();
                        $(document).find('div#questions_list').hide();
                    },
                });
            }
        }
    </script>
</body>

</html>
