{% extends 'Base/base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
    Manage Departments
{% endblock title %}
<!-- Title block > End -->

<!-- Extra CSS Block > Start -->
{% block extra_css %}
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert/css/sweetalert.css' %}">
{% endblock extra_css %}
<!-- Extra CSS Block > End -->

<!-- Custom CSS Block > Start -->
{% block custom_css %}
{% endblock custom_css %}
<!-- Custom CSS Block > End -->

<!-- Modals Block > Start -->
{% block modals %}
{% endblock modals %}
<!-- Modals Block > End -->

<!-- Logo Block > Start -->
{% block logo %}
    <a href="{% url 'principal_dashboard' %}">
        <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System">
    </a>
{% endblock logo %}
<!-- Logo Block > End -->

<!-- Navbar Right menus block > Start -->
{# everything inside <ul class="nav-right"> #}
{% block nav_right %}
    <ul class="nav-right">
        <li class="user-profile header-notification">
            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span>{{ name }}</span>
                    <i class="feather icon-chevron-down"></i>
                </div>
                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        <a href="{% url 'principal_profile' %}">
                            <i class="feather icon-user"></i> Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="feather icon-log-out"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock nav_right %}
<!-- Navbar Right menus block > End -->

<!-- Side Navigation bar Block > Start -->
{% block side_bar %}
{% endblock side_bar %}
<!-- Side Navigation bar Block > End -->


<!-- Main body block > Start -->
{# for dashboard, everything in this tag - <div class="pcoded-content"> #}
{# for others everything in this tag - <div class="pcoded-inner-content"> #}
{% block main_body %}
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <div class="row align-items-end">
                                    <div class="col-lg-8">
                                        <div class="page-header-title">
                                            <div class="d-inline">
                                                <h3>Manage Departments</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 d-flex justify-content-end">
                                        <a class="btn btn-round btn-outline-primary" href="{% url 'principal_dashboard' %}">
                                            <i class="feather icon-arrow-left"></i>
                                            Back to Dashboard
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h5>
                                        Assign or change head of the department from here.
                                    </h5>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Department</th>
                                                <th scope="col">HOD</th>
                                                <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for d in dept %}
                                                <tr row_id="{{ d.id }}">
                                                    <th scope="row"><div col_name="id">{{ forloop.counter }}</div></th>
                                                    <td><div col_name="dept_name">{{ d.dept_name }}</div></td>
                                                    {% ifequal d.hod.id None %}
                                                        <td><div class="row_data" id="hod" col_name="hod" original_entry='<span style="color: red">Not Assigned</span>' fac_id="-1"><span style="color: red">Not Assigned</span></div></td>
                                                    {% else %}
                                                        <td><div class="row_data" id="hod" col_name="hod" original_entry="{{ d.hod.name }}" fac_id="{{ d.hod.id }}">{{ d.hod.name }}</div></td>
                                                    {% endifequal %}
                                                    <td>
                                                        <div class="btn-group btn-group-sm" style="float: none;">
                                                            <button type="button" class="btn_edit btn btn-primary waves-effect waves-light" style="float: none;margin: 5px;">
                                                                <span class="icofont icofont-ui-edit"></span>
                                                            </button>
                                                            <button type="button" class="btn_save btn btn-primary waves-effect waves-light active" style="float: none;margin: 5px;">
                                                                <span class="icofont icofont-ui-check"></span>
                                                            </button>
                                                            <button type="button" class="btn_cancel btn btn-danger waves-effect waves-light" style="float: none;margin: 5px;">
                                                                <span class="icofont icofont-ui-close"></span>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_body %}
<!-- Main body block > End -->

<!-- Extra JS Block > Start -->
{% block extra_js %}
    <!-- sweet alert js -->
    <script type="text/javascript" src="{% static 'bower_components/sweetalert/js/sweetalert.min.js' %}"></script>
{% endblock extra_js %}
<!-- Extra JS Block > End -->

<!-- Custom JS Block > Start -->
{% block custom_js %}
    <!-- Javascript for table -->
    <script type="text/javascript">
        $(document).ready(function () {
            // Hiding all save and delete buttons.
            $(document).find('.btn_save').hide();
            $(document).find('.btn_cancel').hide();

            // Parsing departmentwise faculty list.
            var dept_faculty_list = JSON.parse('{{ dept_faculty|safe }}');
            console.log(dept_faculty_list);

            //Click event of edit button
            $(document).on('click', '.btn_edit', function(event) {
                event.preventDefault();
                var tbl_row = $(this).closest('tr');
                var dept_id = tbl_row.attr('row_id');
                var msg = dept_faculty_list[dept_id];
                var tag = tbl_row.find('#hod');
                var fac_id = tag.attr('fac_id');
                if(msg.length == 0) {
                    swal({
                        title: "Error",
                        text: "There are no faculty registered in this department.",
                        dangerMode: true,
                        type: "error",
                    });
                }
                else {
                    var faculty_select = '';
                    faculty_select += '<select class="custom-select" id="faculty_select" name="faculty_select" style="width: 100%;">';
                    $.each(msg, function( index, val ) {
                        if(val['faculty_id'] == fac_id) {
                            faculty_select += '<option value="'+val['faculty_id']+'" selected>'+val['faculty_name']+'</option>';
                        }
                        else {
                            faculty_select += '<option value="'+val['faculty_id']+'">'+val['faculty_name']+'</option>';
                        }
                    });
                    faculty_select += '</select>';
                    tag.html(faculty_select);

                    tbl_row.find('.btn_save').show();
                    tbl_row.find('.btn_cancel').show();

                    //hide edit button
                    tbl_row.find('.btn_edit').hide();
                }
            });

            //Click event for save button.
            $(document).on('click', '.btn_save', function(event) {
                event.preventDefault();
                var tbl_row = $(this).closest('tr');
                var dept_id = tbl_row.attr('row_id');
                var hod_div_tag = tbl_row.find('div#hod');
                var new_hod_id = hod_div_tag.find('select#faculty_select option:selected').val();
                var new_hod_name = hod_div_tag.find('select#faculty_select option:selected').text();
                var old_hod_id = hod_div_tag.attr('fac_id');

                swal({
                    title: "Are you sure?",
                    text: "Changes will be reflected.",
                    type: "warning",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function () {
                    $.ajax({
                        type:"GET",
                        url:"{{ base_url }}" + "change-hod/",
                        data: {
                            fac_id: new_hod_id,
                            old_hod: old_hod_id
                        },

                        success: function (msg) {
                            var response = JSON.parse(msg);
                            swal({
                                title: "Changes saved successfully!",
                                text: "HOD for " + response['dept'] + " has been changed successfully.",
                                type: "success",
                            });
                            hod_div_tag.attr('fac_id', new_hod_id);
                            hod_div_tag.attr('original_entry', new_hod_name);
                            hod_div_tag.html(new_hod_name);
                        },
                        error: function (msg) {
                            var response = JSON.parse(msg.responseText);
                            swal({
                                title: "Error!",
                                text: response['error'],
                                type: "error",
                            });
                            hod_div_tag.attr('fac_id', old_hod_id);
                            var old_value = hod_div_tag.attr('original_entry');
                            hod_div_tag.attr('original_entry', old_value);
                            hod_div_tag.html(old_value);
                        },
                    });
                });
                //hide save and cacel buttons
                tbl_row.find('.btn_save').hide();
                tbl_row.find('.btn_cancel').hide();

                //show edit button
                tbl_row.find('.btn_edit').show();
            });

            //Event for cancel button
            $(document).on('click', '.btn_cancel', function(event) {
                event.preventDefault();

                var tbl_row = $(this).closest('tr');

                //hide save and cacel buttons
                tbl_row.find('.btn_save').hide();
                tbl_row.find('.btn_cancel').hide();

                //show edit button
                tbl_row.find('.btn_edit').show();
                var hod_div = tbl_row.find('div#hod');
                hod_div.html(hod_div.attr('original_entry'));
            });
        });
    </script>

    <script type="text/javascript">
        {% if success %}
            swal({
                title: "{{ success }}",
                type: "success",
            });
        {% endif %}

        {% if error %}
            swal({
                title: "Error",
                text: "{{ error }}",
                dangerMode: true,
                type: "error",
            });
        {% endif %}
    </script>
{% endblock custom_js %}
<!-- Custom JS Block > End -->