{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Manage Committees</title>
    <!-- Meta -->
    <meta name="author" content="Jasmin Makwana(160210107030), Kinjal Doshi(160210107011), Jinesh Kamdar(160210107024), Vishwa Rajput(160210107047)">
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <script src="{% static 'assets/extra-js/jquery_2.1.4.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/css/bootstrap.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert/css/sweetalert.css' %}">

    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/feather/css/feather.css' %}">
    <!-- Radial.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/pages/chart/radial/css/radial.css' %}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom_css/bg.css' %}">
    <script type="text/javascript">
    // TODO : Get this table into table tag not from here. and add sweet alert also.
    $(document).ready(function($)
    {
        //ajax row data
        var ajax_data = [];
        {% for i in committees %}
            ajax_data.push({
                id: '{{ i.id }}',
                name : '{{ i.committee_name }}',
                details : '{{ i.committee_details }}',
                chairperson : '{{ i.chairperson.name }}',
                fac_id:'{{ i.chairperson.id }}',
            });
        {% endfor %}

        var faculty_select = '';
        faculty_select += '<span class="faculty">';
            faculty_select += '<select class="form-control" id="faculty_select" name="faculty_select">';
            {% for i in faculties %}
                faculty_select += '<option value="'+'{{ i.id }}'+'">'+'{{ i.name }}'+'</option>';
            {% endfor %}
            faculty_select += '</select>';
        faculty_select += '</span>';


        //--->create data table > start
        var tbl = '';
        tbl +='<table class="table table-hover">';

            //--->create table header > start
            tbl +='<thead>';
                tbl +='<tr>';
                tbl +='<th scope="col">#</th>';
                tbl +='<th scope="col">Committee Name</th>';
                tbl +='<th scope="col">Committee Details</th>';
                tbl +='<th scope="col">Chairperson</th>';
                tbl +='<th scope="col">Action</th>';
                tbl +='</tr>';
            tbl +='</thead>';
            //--->create table header > end


            //--->create table body > start
            tbl +='<tbody>';

                //--->create table body rows > start
                var count = 1;
                $.each(ajax_data, function(index, val)
                {
                    //you can replace with your database row id
                    var row_id = val['id'];
                    //loop through ajax row data
                    tbl +='<tr row_id="'+row_id+'">';
                        tbl +='<th ><div scope="row" col_name="id">'+ count.toString() +'</div></th>';count+=1;
                        tbl +='<td ><div class="row_data" edit_type="click" col_name="name">'+val['name']+'</div></td>';
                        tbl +='<td ><div class="row_data" edit_type="click" col_name="details">'+val['details']+'</div></td>';
                        tbl +='<td ><div class="row_data" edit_type="click" fac_id="'+val["fac_id"]+'" original_entry="'+val['chairperson']+'" id="chairperson" col_name="chairperson">'+val['chairperson']+'</div></td>';

                        //--->edit options > start
                        tbl +='<td>';

                            tbl +='<span class="btn_edit" > <a href="#" class="btn btn-link " row_id="'+row_id+'" > Edit</a> | </span>';
                            tbl +='<span class="btn_delete" > <a href="#" class="btn btn-link " row_id="'+row_id+'" > Delete</a></span>';
                            tbl +='<span class="btn_confirm" > <a href="#" class="btn btn-link " row_id="'+row_id+'" > Confirm</a> | </span>';

                            //only show this button if edit button is clicked
                            tbl +='<span class="btn_save"> <a href="#" class="btn btn-link"  row_id="'+row_id+'"> Save</a> | </span>';
                            tbl +='<span class="btn_cancel"> <a href="#" class="btn btn-link" row_id="'+row_id+'"> Cancel</a></span>';

                        tbl +='</td>';
                        //--->edit options > end

                    tbl +='</tr>';
                });

                //--->create table body rows > end

            tbl +='</tbody>';
            //--->create table body > end

        tbl +='</table>';
        //--->create data table > end

        //out put table data
        $(document).find('.tbl_data').html(tbl);

        $(document).find('.btn_confirm').hide();
        $(document).find('.btn_save').hide();
        $(document).find('.btn_cancel').hide();


        //--->button > edit > start
        $(document).on('click', '.btn_edit', function(event)
        {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');

            var row_id = tbl_row.attr('row_id');

            tbl_row.find('.btn_save').show();
            tbl_row.find('.btn_cancel').show();

            //hide edit button
            tbl_row.find('.btn_edit').hide();
            tbl_row.find('.btn_delete').hide();
            tbl_row.find('.btn_confirm').hide();

            //make the whole row editable
            tbl_row.find('.row_data')
                .attr('contenteditable', 'true')
                .attr('edit_type', 'button')
                .css('background-color', 'white')
                .css('padding','.5rem .75rem')
                .css('border', 'solid 1px');


            tbl_row.find('#chairperson').html(faculty_select)
                .attr('contenteditable', 'false')
                .attr('edit_type', 'click')
                .css('padding', '');

            var tag = tbl_row.find('#chairperson');
            var value = tag.attr('fac_id');
            tag.find('[id=faculty_select]').val(value);
            {#alert(tag.attr('fac_id'));#}

            //--->add the original entry > start
            tbl_row.find('.row_data').each(function(index, val)
            {
                //this will help in case user decided to click on cancel button
                if( $(this).attr('col_name') === 'chairperson') {
                }
                else {
                    $(this).attr('original_entry', $(this).html());
                }
            });
            //--->add the original entry > end

        });
        //--->button > edit > end

        //--->button > delete > start
        $(document).on('click', '.btn_delete', function(event)
        {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');

            var row_id = tbl_row.attr('row_id');

            tbl_row.find('.btn_confirm').show();
            tbl_row.find('.btn_cancel').show();

            //hide edit button
            tbl_row.find('.btn_save').hide();
            tbl_row.find('.btn_edit').hide();
            tbl_row.find('.btn_delete').hide();

        });
        //--->button > delete > end


        //--->button > confirm > start
        $(document).on('click', '.btn_confirm', function(event)
        {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');

            var row_id = tbl_row.attr('row_id');

            tbl_row.find('.btn_edit').show();
            tbl_row.find('.btn_delete').show();

            //hide edit button
            tbl_row.find('.btn_confirm').hide();
            tbl_row.find('.btn_save').hide();
            tbl_row.find('.btn_cancel').hide();
            tbl_row.remove();

            var arr = {
                action: 'delete',
                row_id: row_id,
            };

            $.ajax({
                type:"GET",
                url:"{{ base_url }}"+"edit-delete-committees/",
                data: {
                    info: JSON.stringify(arr, null, 2),
                },
                success: function (msg) {
                    $('#response')
                        .css('display', 'block')
                        .removeClass('alert-danger')
                        .removeClass('background-danger')
                        .addClass('alert-success')
                        .addClass('background-success')
                        .html(msg);
                },
                failure: function (msg) {
                    $('#response')
                        .css('display', 'block')
                        .removeClass('alert-success')
                        .removeClass('background-success')
                        .addClass('alert-danger')
                        .addClass('background-danger')
                        .html(msg);
                },
            });
        });
        //--->button > confirm > end

        //--->button > cancel > start
        $(document).on('click', '.btn_cancel', function(event)
        {
            event.preventDefault();

            var tbl_row = $(this).closest('tr');

            var row_id = tbl_row.attr('row_id');

            //hide save and cacel buttons
            tbl_row.find('.btn_save').hide();
            tbl_row.find('.btn_cancel').hide();
            tbl_row.find('.btn_confirm').hide();

            //show edit button
            tbl_row.find('.btn_edit').show();
            tbl_row.find('.btn_delete').show();

            //make the whole row editable
            tbl_row.find('.row_data')
                .attr('contenteditable', 'false')
                .attr('edit_type', 'click')
                .removeAttr('style');

            tbl_row.find('.row_data').each(function(index, val)
            {
                $(this).html( $(this).attr('original_entry') );
            });
        });
        //--->button > cancel > end


        //--->save whole row entery > start
        $(document).on('click', '.btn_save', function(event)
        {
            event.preventDefault();
            var tbl_row = $(this).closest('tr');

            var row_id = tbl_row.attr('row_id');


            //hide save and cacel buttons
            tbl_row.find('.btn_save').hide();
            tbl_row.find('.btn_cancel').hide();

            //show edit button
            tbl_row.find('.btn_edit').show();
            tbl_row.find('.btn_delete').show();


            //make the whole row editable
            tbl_row.find('.row_data')
                .attr('contenteditable', 'false')
                .attr('edit_type', 'click')
                .removeAttr('style');

            //--->get row data > start
            var arr = {};
            tbl_row.find('.row_data').each(function(index, val)
            {
                var col_val;
                var col_name = $(this).attr('col_name');
                if(col_name == 'chairperson'){
                    col_val = $(this).find('#faculty_select option:selected').val();
                    arr['fac_id'] = col_val;
                    var fac_name = $(this).find('#faculty_select option:selected').text();
                    arr[col_name] = fac_name;
                    $(this).attr('fac_id', col_val);
                    $(this).attr('original_entry', fac_name);
                    $(this).html(fac_name);

                    //arr[col_name] = $(this).find('#dept_select').$("[value="+col_val+"]").html();
                }
                else {
                    col_val  =  $(this).html();
                    arr[col_name] = col_val;
                }
            });
            //--->get row data > end

            //use the "arr"	object for your ajax call
            $.extend(arr, {row_id:row_id});
            $.extend(arr, {action:"update"});

            //--->Making Ajax request > Start
            $.ajax({
                type:"GET",
                url:"{{ base_url }}"+"edit-delete-committees/",
                data: {
                    info: JSON.stringify(arr, null, 2),
                },
                statusCode: {
                    400: function (msg) {
                        $('#response')
                            .css('display', 'block')
                            .removeClass('alert-success')
                            .removeClass('background-success')
                            .addClass('alert-danger')
                            .addClass('background-danger')
                            .html(msg.responseText);
                    },
                    401: function (msg) {
                        $('#response')
                            .css('display', 'block')
                            .removeClass('alert-success')
                            .removeClass('background-success')
                            .addClass('alert-danger')
                            .addClass('background-danger')
                            .html(msg.responseText);
                    }
                },
                success: function (msg) {
                    $('#response')
                        .css('display', 'block')
                        .removeClass('alert-danger')
                        .removeClass('background-danger')
                        .addClass('alert-success')
                        .addClass('background-success')
                        .html(msg);
                },
                failure: function (msg) {
                    $('#response')
                        .css('display', 'block')
                        .removeClass('alert-success')
                        .removeClass('background-success')
                        .addClass('alert-danger')
                        .addClass('background-danger')
                        .html(msg);
                },
            });
            //--->Making Ajax request > End

            //out put to show
            //$('.post_msg').html( '<pre class="bg-success">'+JSON.stringify(arr, null, 2) +'</pre>')


        });
        //--->save whole row entery > end


    });
</script>
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <!-- Add Committee Modal -->
    <div class="modal fade" id="add-committee" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Committee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'manage_committees' %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="name">Committee Name : </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="details">Committee Details: </label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="details" id="details" required></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="chairperson">Chair Person : </label>
                            <div class="col-sm-8">
                                <select name="chairperson" id="chairperson" class="form-control" required>
                                    <option value="-1" selected disabled>Select Chairperson</option>
                                    {% for i in faculties %}
                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row f-right" style="padding-right: 15px;">
                            <button type="submit" class="btn btn-success btn-outline-success">
                                <i class="icofont icofont-check-circled"></i>
                                Confirm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Committee Modal End -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="feather icon-menu"></i>
                    </a>
                    <a href="{% url 'principal_dashboard' %}">
                        <img class="img-fluid" src="{% static 'assets/images/logo_sss3.png' %}" alt="Theme-Logo" style="max-width:85%;">
                    </a>
                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>
                    <div class="navbar-container container-fluid">

                    <ul class="nav-right">

                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <span>{{ name }}</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="{% url 'principal_profile' %}">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}">
                                            <i class="feather icon-log-out"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                         <div class="pcoded-inner-navbar main-menu">
                            <div class="pcoded-navigatio-lavel">Quick Links</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="{% url 'principal_profile' %}">
                                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                        <span class="pcoded-mtext">My Profile</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'manage_committees' %}">
                                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                        <span class="pcoded-mtext">Manage Committees</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'manage_department' %}">
                                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                                        <span class="pcoded-mtext">Manage Departments</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'logout' %}">
                                        <span class="pcoded-micon"><i class="feather icon-log-out"></i></span>
                                        <span class="pcoded-mtext">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                     <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Manage Committees</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <p>
                                                            Add, Modify and Delete Committees from here.
                                                            <button type="button" class="btn btn-primary f-right" data-toggle="modal" data-target="#add-committee">Add Committee</button>
                                                        </p>
                                                    </div>
                                                    <div class="card-block">
                                                        <div id="response" class="alert" role="alert" style="display: none;"></div>
                                                        <div class="tbl_data"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{%static 'bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'bower_components/modernizr/js/modernizr.js' %}"></script>

    <!-- sweet alert js -->
    <script type="text/javascript" src="{% static 'bower_components/sweetalert/js/sweetalert.min.js' %}"></script>

    <!-- i18next.min.js -->
    <script type="text/javascript" src="{% static 'bower_components/i18next/js/i18next.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-i18next/js/jquery-i18next.min.js' %}"></script>

    <!-- Editable table javascript -->
{#    <script src="{% static 'assets/pages/edit-table/jquery.tabledit.js' %}" type="text/javascript"></script>#}
{#    <script src="{% static 'assets/pages/edit-table/editable.js' %}" type="text/javascript"></script>#}


    <!-- custom js -->
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/SmoothScroll.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/vartical-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.min.js' %}"></script>

    <script type="text/javascript">
        {% if success %}
            swal({
                title: "{{ success }}",
                type: "success",
            });
        {% endif %}

        {% if error %}
            swal({
                title: "Error",
                text: "{{ error }}",
                dangerMode: true,
                type: "error",
            });
        {% endif %}
    </script>

</body>

</html>
