{% extends 'Base/base.html' %}
{% load static %}
<!-- Title block > Start -->
{% block title %}
    Principal Dashboard
{% endblock title %}
<!-- Title block > End -->

<!-- Extra CSS Block > Start -->
{% block extra_css %}
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/sweetalert/css/sweetalert.css' %}">
{% endblock extra_css %}
<!-- Extra CSS Block > End -->

<!-- Custom CSS Block > Start -->
{% block custom_css %}
    <style>
        .btn-outline-info {
            color: #0ac282;
            border-color: #0ac282;
        }
        .btn-outline-info:hover {
            color: #fff;
            background-color: #0ac282;
            border-color: #0ac282;
        }
    </style>
{% endblock custom_css %}
<!-- Custom CSS Block > End -->

<!-- Modals Block > Start -->
{% block modals %}
{% endblock modals %}
<!-- Modals Block > End -->

<!-- Logo Block > Start -->
{% block logo %}
    <a class="mobile-menu" id="mobile-collapse" href="javascript:void(0)">
        <i class="feather icon-menu"></i>
    </a>
    <a href="{% url 'principal_dashboard' %}">
        <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt="Student Support System" style="max-width: 92%">
    </a>
{% endblock logo %}
<!-- Logo Block > End -->

<!-- Navbar Right menus block > Start -->
{# everything inside <ul class="nav-right"> #}
{% block nav_right %}
    <ul class="nav-right">
        <li class="user-profile header-notification">
            <div class="dropdown-primary dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <span>{{ name }}</span>
                    <i class="feather icon-chevron-down"></i>
                </div>
                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                    <li>
                        <a href="{% url 'principal_profile' %}">
                            <i class="feather icon-user"></i> Profile
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="feather icon-log-out"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock nav_right %}
<!-- Navbar Right menus block > End -->

<!-- Side Navigation bar Block > Start -->
{% block side_bar %}
    <nav class="pcoded-navbar">
        <div class="pcoded-inner-navbar main-menu">
            <div class="pcoded-navigatio-lavel">Quick Links</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="{% url 'principal_profile' %}">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">My Profile</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'manage_committees' %}">
                        <span class="pcoded-micon"><i class="feather icon-chrome"></i></span>
                        <span class="pcoded-mtext">Manage Committees</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'manage_department' %}">
                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                        <span class="pcoded-mtext">Manage Departments</span>
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'logout' %}">
                        <span class="pcoded-micon"><i class="feather icon-log-out"></i></span>
                        <span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock side_bar %}
<!-- Side Navigation bar Block > End -->


<!-- Main body block > Start -->
{# for dashboard, everything in this tag - <div class="pcoded-content"> #}
{# for others everything in this tag - <div class="pcoded-inner-content"> #}
{% block main_body %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">
                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">
                                        <h3>Committees</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-body">
                        <div class="row">
                            {% for i in committees %}
                                <div class="col-xl-4 col-md-6">
                                    <a href="{% url 'member_dashboard' com_id=i.id %}">
                                        <script type="text/javascript">
                                            var bg_color = ['bg-simple-c-green', 'bg-c-blue', 'bg-c-pink'];
                                            var text_color = ['text-c-green', 'text-c-blue', 'text-c-pink'];
                                            var index = parseInt('{{ forloop.counter }}') % 3;
                                            var html = '';
                                            html += '<div class="card social-card '+ bg_color[index] +'">';
                                            html += '<div class="card-block">';
                                            html += '<div class="row align-items-center">';
                                            html += '<div class="col-auto">';
                                            html += '<i class="feather icon-users f-34 '+ text_color[index] +' social-icon"></i>';
                                            html += '</div>';
                                            html += '<div class="col p-l-0">';
                                            html += '<h4>{{ i.name }}</h4>';
                                            html += '<p style="font-size: 12pt;"><i class="icofont icofont-king-crown"></i> {{ i.chairperson }}</p>';
                                                        html += '<p style="font-size: 12pt;"><i class="icofont icofont-users-alt-5"></i> Total Members : {{ i.members }}</p>';
                                            html += '</div>';
                                            html += '</div>';
                                            html += '</div>';
                                            html += '</div>';
                                            document.write(html);
                                        </script>
                                    </a>
                                </div>
                            {% endfor %}
                            <div class="col-sm-12">
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h3>Departments</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {% for i in departments %}
                                        <div class="col-md-6 col-xl-4">
                                            <div class="card widget-statstic-card">
                                                <div class="card-header">
                                                    <div class="card-header-left">
                                                        <h5>{{ i.dept_name }}</h5>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <script type="text/javascript">
                                                        var icon_color = ['bg-simple-c-green', 'bg-c-blue', 'bg-c-pink'];
                                                        var btn_class = ['btn-outline-info', 'btn-outline-primary', 'btn-outline-danger'];
                                                        var index = parseInt('{{ forloop.counter }}') % 3;
                                                        var html = '<i class="feather icon-monitor st-icon '+ icon_color[index] +' txt-lite-color"></i>';
                                                        html += '<div class="text-left"><button type="button" dept_id="{{ i.id }}" class="btn_view btn btn-round '+ btn_class[index] +'">View Feedback</button></div>';
                                                        document.write(html);
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_body %}
<!-- Main body block > End -->

<!-- Extra JS Block > Start -->
{% block extra_js %}
    <script src="{% static 'assets/sweetalert/new_sweetalert.min.js' %}"></script>
{% endblock extra_js %}
<!-- Extra JS Block > End -->

<!-- Custom JS Block > Start -->
{% block custom_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.btn_view', function (event) {
                event.preventDefault();
                var dept_id = $(this).attr('dept_id');
                swal({
                    title: "Select Feedback Type",
                    buttons: {
                        mid: {
                            text: "Mid Semester Feedback",
                            value: "mid",
                        },
                        end: {
                            text: "End Semester Feedback",
                            value: "end",
                        },
                    },
                })
                .then((value) => {
                    switch (value) {
                        case "mid":
                            window.location = "{% url 'principal_feedback_section' type="mid" dept_id=123 %}".replace(/123/, dept_id.toString());
                            break;

                        case "end":
                            window.location = "{% url 'principal_feedback_section' type="end" dept_id=123 %}".replace(/123/, dept_id.toString());
                            break;

                  }
                });
            });
        });
    </script>
{% endblock custom_js %}
<!-- Custom JS Block > End -->